[2016-02-29 20:51] igomezal opened #1 "Empty PDF file sometimes get's created"
Hello, when i try to export the markdown file to pdf it only creates a file of zero bytes
![captura de pantalla de 2016-02-29 21 51 13](https://cloud.githubusercontent.com/assets/15131479/13408640/2e6a155c-df2f-11e5-917f-20af46fd2980.png)

[2016-02-29 21:13] Philip-Scott commented on #1
How does it happen? :) Are you trying to generate it straight from the editor?

[2016-02-29 21:26] Philip-Scott opened #2 "Support custom style-sheets"
Add a place in the preferences dialog to add/modify the stylesheet

[2016-02-29 21:29] Philip-Scott opened #3 "Simple Open-with"
be able to open markdown files with this app. The window that appears will be a "simplified" version of the app, with no notebook & pages list

[2016-02-29 22:06] Philip-Scott commented on #1
@igomezal Or can you confirm it happening?

[2016-03-01 00:21] igomezal commented on #1
No matter the windows you I use it always generates a file of 0 bytes.

Thanks for your hard work.

[2016-03-01 00:25] Philip-Scott commented on #1
@igomezal If you try to open the app from the terminal, and try to export to pdf, does the terminal output any error messages?

[2016-03-01 00:27] igomezal opened #4 "The select color changes back to black"
When I create a New Notebook and i select the color, i have to edit it so it select the color and it saves it.

And well...
I don't know if it is a bug but when i open the window to create a new notebook and then i open another program the window to create the new notebook keeps at the front until i cancel it or i create a new notebook.

Cheers

[2016-03-01 00:52] Philip-Scott commented on #4
Dialogs being always on top IS a "bug," but i again cannot confirm your first bug about creating Notebooks not using the selected color on the first try, and switching to black :/ It's working fine here on my end...

Do you mind updading this and your previous bug report with either a terminal output, or a step by step of what you do to reproduce them? :) Else, you might have a bug with the way yo

[2016-03-01 08:52] igomezal commented on #4
Hello this is the output when i create a new notebook:
`ivan@ivan-Notebook:~$ notes-up

(Notes:3012): Gtk-CRITICAL **: gtk_window_set_focus: assertion 'gtk_widget_get_can_focus (focus)' failed
Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.
Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.
`
I just click on New Notebook and then select th

[2016-03-01 09:05] igomezal commented on #1
When I open notes-up this is what it prints in my terminal:
`ivan@ivan-Notebook:~$ notes-up`

`(Notes:3290):` Gtk-CRITICAL **: gtk_window_set_focus: assertion 'gtk_widget_get_can_focus (focus)' failed`

But when i press in export to pdf it doesn't print anything.

[2016-03-01 11:45] Philip-Scott commented on #1
From a web browser, try to print a website. But at the print dialog, sellect "print to file" or "to pdf" pr somethjng along the lines.

Does that work?

[2016-03-01 11:51] Philip-Scott commented on #1
How it works on my app is that I first create an empty file, and then I send that to the system's printer as if that was the printing location.

What os, version, and that do you have?

[2016-03-01 16:04] igomezal commented on #1
I have just tried it and from the browser it works fine.
And I am using elementary OS 0.3.2 Freya 32-bit.

[2016-03-03 13:38] Philip-Scott opened #5 "Load local images"

[2016-03-06 17:00] #5 closed

[2016-03-08 07:06] voline opened #9 "Notes preview pane does not render markdown"
![image](https://cloud.githubusercontent.com/assets/17718635/13594413/3cb1a07a-e52a-11e5-9d9a-014ddef5cc1b.png)

The preview pane ought to render markdown edited text as well, instead of displaying the raw text.

[2016-03-08 11:49] Philip-Scott commented on #9
Im not sure if either allow markdown, or just remove all markdown tags from it. But yes, it's a bug ☺️

Btw, there's no need for the <br> Tags if you need a line jump, you can either put an empty line between that, and the next paragraph, or put two spaces at the end 😉

[2016-03-08 12:23] voline commented on #9
Simplenote formats the preview like the main text, which is useful. For example, adding emphasis to author names. Either the preview ought to allow markdown or implement the formatting from the main text some other way.

The notes are old ones I copy pasted from another program. Didn't know all of markdown when I wrote them. Thanks anyway!

No problem, the application is great work. Cannot tell yo

[2016-03-08 16:44] Philip-Scott commented on #9
simplenote is a webapp, so it's very easy for them to just display the full markdown text.....

I can implement it so it allows the simple ones (bold, italics, underline, and strikethough) on the preview. Things like quotes, the headers or links i won't allow though, but it should be fine that way :)

[2016-03-10 15:21] voline commented on #9
Yup, should be good!

[2016-03-10 15:24] voline opened #10 "Misalignment of the main header"
Header with double hash ##
![image](https://cloud.githubusercontent.com/assets/17718635/13674037/f3ab11ac-e701-11e5-9c04-2be494f1bc8c.png)

with single hash #
![image](https://cloud.githubusercontent.com/assets/17718635/13674058/063e6c56-e702-11e5-9efc-4252acaf4613.png)

The title shifts to the center for the main header as you can see. Looks to me like a bug.
Id, wish something could be done to m

[2016-03-10 15:26] voline opened #11 "Notebook stacks"
Well, would be it possible to implement a more complex notebook stack? For example "chapters" as a subtree to a notebook? Should help with large quantities of notes.

[2016-03-10 15:28] voline opened #12 "Search notes"
Sorry, to flood requests but a search feature would be nice, preferably full text.

[2016-03-10 22:32] Philip-Scott commented on #10
Since it's an "elementary app", the default stylesheet is based upon elementary's website: https://elementary.io/docs/human-interface-guidelines#human-interface-guidelines

I am working on a way for you to be able to set custom stylesheets using CSS from within the app though :) That's coming soon ;)

[2016-03-10 22:37] Philip-Scott commented on #11
Actually, If you look at the 1.1 release branch, that something that i've already implemented :smile:

I've currently named it "New Section", although i kinda do like what you did, named it as "Chapters" ;)

[2016-03-10 22:38] #11 closed

[2016-03-10 22:48] Philip-Scott commented on #12
Hey, don't worry :) I'm glad someone is using the app ;)

I think i'll only allow for search to "search" for items within the current notebook though without much of a performance hit. But search app-wide could be a bit of an issue when you have notes in the hundreds :P

[2016-03-11 18:45] voline opened #14 "Icon"
Well, I think I have complained enough, here is a contribution. Make your pick for the icon;

![image](https://cloud.githubusercontent.com/assets/17718635/13712047/9049a61e-e7e7-11e5-9ab0-350ef9a706d5.png)

I am using the rightmost for myself at the moment. Looks more playful.

[2016-03-15 03:20] Philip-Scott commented on #14
To be honest, im not a big fan of them :P The current default icon says a bit more about what the app is about (A notebook :wink:) I was thinking about adding a markdown "mark" on the notebook, but i find that i like more the minimalistic look it currently has

But thank you very much still :)

[2016-03-15 03:20] #14 closed

[2016-03-15 04:06] #3 closed

[2016-03-15 04:27] #2 closed

[2016-03-15 04:32] Philip-Scott opened #16 "Sort Pages List"
Select whether to sort pages via:

- [ ] Alphabetical
- [x] Creation Date (Current)
- [ ] Modification Date

[2016-03-16 07:58] theranger commented on #16
Why not having an UI control or settings option to select desired sorting behavior?

[2016-03-29 02:42] #12 closed

[2016-03-29 02:46] Philip-Scott commented on #10
@voline  Alright! Version 1.1 is out! You should be able to soon `apt-get upgrade` it  :smile:

Once you have the newest version, open the preferences dialog via the gear button, go to the viewer section and copy this there:
[code]

[2016-03-29 02:46] #10 closed

[2016-03-29 05:55] voline commented on #10
Thanks, great work.

On Tuesday 29 March 2016 08:16 AM, Felipe Escoto wrote:

[2016-03-29 07:41] maheswaranapk opened #22 "Notes Title not processing Mark Down in the First Line of Notes."
First Line of the Notes is taken as Notes Title.
But If I add any markdown to first line to make it bolder or something, Note Title was taken with Mark Down.

![rsz_screenshot_from_2016-03-29_120845](https://cloud.githubusercontent.com/assets/5757251/14099986/a0daa0c8-f5a7-11e5-8f54-b8c6dd3edca2.png)

[2016-03-29 08:24] voline opened #23 "Move notes around"
Dragging and dropping notes from one section or subsection to another is absent. Should be a useful enhancement.

[2016-03-29 08:26] voline commented on #22
T'is a duplicate #9
Its already in queue for the next release, v.1.2

[2016-03-29 17:35] gazambuja opened #24 "Install on Ubuntu 16.10"
Using Ubuntu Xenial Xerus (development branch) you get this error:

[code]

[code]

[2016-03-29 18:00] Philip-Scott commented on #24
@gazambuja: I haven't really tested running it outside of elementary. Mind testing it out? :smile:

You'll need to install `libgranite-dev` and then try to compile from source.

[2016-03-29 18:05] Philip-Scott commented on #22
Yeah, it's a duplicate :) I was planning on doing it for this release, but the current method is too slow...

But for now @maheswaranapk, if you use #'s to set the header of the title, those won't show up in the Notes list :)

[2016-03-29 18:36] TomBous opened #25 "AppImage package"
I know this app is intended for Elemenary, but it would be awesome to have an AppImage package for other distributions.

Have a look : http://appimage.org/

I would love to be able to use your app on Fedora.

Thx anyway for your hard work !

[2016-04-02 11:31] probonopd commented on #25
Can this app be built on CentOS 6? If so, how? (Building on CentOS 6 is a good way to ensure binary compatibility with a wide variety of desktop Linux distributions.)

[2016-04-06 02:19] Philip-Scott commented on #22
Since it's a duplicate, i'm going to close it to clean up the issues list

[2016-04-06 02:19] #22 closed

[2016-04-06 02:24] demonpig commented on #25
Based on some light searching the EPEL repo for CentOS 6, trying to build Notes-Up on CentOS 6 may not be possible. Notes-Up requires the vala 0.26 version. The latest version for Vala is 0.10 in the EPEL repo [1].

Right now I am currently testing the application out in Ubuntu. Next week I will start on trying to get the application running on Fedora Gnome.

[1] https://dl.fedoraproject.org/pub/e

[2016-04-06 02:26] Philip-Scott commented on #4
@igomezal Hey Ivan, do you still have the problem occurring?

I really haven't being able to duplicate it, so i'm going to mark it as closed. But if you still have the problem, feel free to re-open it! :smiley:

[2016-04-06 17:07] igomezal commented on #4
@Philip-Scott Well I still have this problem even after the update but thanks for your help, maybe it's my system's problem and have nothing to do with the application.

[2016-04-07 18:01] #4 closed

[2016-04-10 17:35] demonpig opened #27 "[Ubuntu 15.10] Cannot rename notebook"
OS: Ubuntu 15.10
Kernel: 4.2.0-35

Was not able to rename any notebooks by right clicking inside the notebook list.

[2016-04-10 17:44] demonpig opened #28 "[Feature] Delete multiple pages from notebook"
Unless there is a specific way of deleting multiple pages from a notebook, I believe this would be a good feature to add. Right now the process is to select a page and click the delete button.

A possible solution would be to:
* Hold down Control to be able to select multiple pages
* Either click the delete button or hit the delete key on keyboard

[2016-04-10 17:55] demonpig opened #29 "[Ubuntu 14.04] Not able to install/build Notes-Up"
I followed the install instructions on the README.md file and was not able to install Notes-Up. In addition, I tried building the application from source and was not able to. Overall, the main cause was that I had outdated libraries; especially the libgranite library.

[2016-04-10 18:02] demonpig commented on #27
This also applies to Ubuntu 15.04

[2016-04-10 21:05] Philip-Scott commented on #27
@demonpig did the right click menu not appear on the notebook list, or when the "Edit Dialog" box appears nothing changes?

[2016-04-10 21:29] demonpig commented on #27
The right click menu does not appear at all on either Ubuntu 15.10 or 15.04.

[2016-04-10 21:35] demonpig commented on #27
Later tonight, I will check to see what version is installed on Ubuntu 15.10. I believe the issue to be with Granite as well.

[2016-04-10 21:53] Philip-Scott opened #30 "Implement contractor menu"
It would allow for integrating between different apps easily, and allow actions such as "Send by email" and print directly.

[2016-04-10 22:38] Philip-Scott commented on #27
You know.... the more i think about it, the less i want to add support to other OSs....   http://www.birdieapp.eu/2016/01/23/building-our-future-on-elementary-os.html

TBH, I think at most it would be better to just have an AppImage version, if that works and fixes everything then great! If not then it will not have support :P

[2016-04-10 22:47] Philip-Scott commented on #25
Yeah, if AppImages does what i think it does, it should solve: #29 #27 #24, so im going to mark those as "Duplicates" for now, and close them so this can be the main bug tread :smile:

[2016-04-10 22:47] #24 closed

[2016-04-10 22:48] #27 closed

[2016-04-10 22:48] #29 closed

[2016-04-11 00:11] demonpig commented on #25
I will look into AppImage this week then.

[2016-04-11 00:25] Philip-Scott commented on #25
@demonpig: Thank you for your help Max! :smiley:

[2016-04-11 08:13] voline opened #33 "Double click notes to edit"
Or introduce a keyboard shortcut to go straight to the edit pane, as an additional choice to the "view" and "edit" buttons on the header bar.

[2016-04-11 10:54] Philip-Scott commented on #33
Ctrl + M, m as in "mode" 😉

I really need to make that more discoverable though.... Maybe I'll add the shortcut to the tooltip

[2016-04-11 11:03] voline commented on #33
So sorry. You are doing a fine job!

On Monday 11 April 2016 04:24 PM, Felipe Escoto wrote:

[2016-04-11 11:10] Philip-Scott commented on #33
Hey no! No sorry! You not knowing about it *IS* a bug in my book. ☺️ I do like the idea of the double click though, although I gotta think about things like "Should it also switch to view mode if you were in edit?"

Thank you for reporting it! It's great knowing at least someone else is also using it 😄

[2016-04-15 14:42] NicoHood opened #34 "Create Release"
You should create a github release and also add a date to the readme of version 1.1

[2016-04-16 21:44] Philip-Scott commented on #33
TODO:

- [x] Double click notes to change modes
- [ ] Show shortcuts somewhere in the UI

[2016-04-16 21:56] Philip-Scott opened #35 "Bookmark from the UI"

[2016-04-16 21:56] #35 closed

[2016-04-16 23:35] Philip-Scott commented on #34
I didn't realize that was a thing. Now i don't have to keep the old branches lying around!

Thank you @NicoHood! :smile:

[2016-04-16 23:35] #34 closed

[2016-04-16 23:54] luisnando opened #36 "[Feature] Allow the user to find the directory where to save notes and keep them in .md files"
It would be nice to access my notes from other computers and from my cell. The simplest way would be to allow the notes to be saved in a directory of my choice. The subdirectories could respect the notebooks hierarchy as well. Keep images and .md files within each folder and thats it.

Would you consider something similar? Keep up! Great application!

[2016-04-17 00:11] Philip-Scott commented on #36
Actually, a long time ago (before the first release) i had a folder button you could access from the pages list:

![original build](https://cloud.githubusercontent.com/assets/10786508/14584294/691b0e5e-0405-11e6-9c62-5eb6207ec6eb.png)

but..... I later decided against letting the normal user access it's contents. If you really really **really** need to change the save directory, you can do it via

[2016-04-17 00:11] #36 closed

[2016-04-17 00:20] Philip-Scott commented on #28
If you clone master, you should be able to do this now :)

It'll be pushed to the ppa once the milestone is done

[2016-04-17 00:20] #28 closed

[2016-04-17 00:24] Philip-Scott opened #38 "In app trash of deleted pages"
There should be a simple undo right from the UI when you delete a page.

Pages are actually being sent to the user's trash for the time being, but there should be a one click undo in case you mis-clicked

[elementary HIG: Always provide an undo](https://elementary.io/docs/human-interface-guidelines#always-provide-an-undo)

[2016-04-17 04:14] luisnando commented on #36
Thanks for the reply! And how would you suggest be the best approach to backup the notes? A cronjob that copies the files elsewere? A symlink to my dropbox folder?

Thanks

[2016-04-17 16:35] Philip-Scott commented on #36
You can do it as you wish :) All your notes are being stored currently as one folder per notebook or section, and one file per page, so you can easily do what you want with them. iirc, the notes folder is either in ~/.notes or ~/.local/share/notes, so you can either add it to the folders you want to sync with dropbox, or just change it's save directory right from dconf

[2016-05-12 22:52] Philip-Scott commented on #1
I'm re-opening this due to it's original bug. I got another bug report about it

[2016-05-21 07:15] Andrewsudarikov opened #39 "New notebook marker color broken"
When a new notebook is created and the marker color chosen it always switched to default black color.
So I have to go to editing the notebook properties and selecting the color again - then it works.

[2016-05-22 21:48] yerbestpal opened #41 "Ability to use markup with keyboard commands"
For example, ctrl+b for **bold**, etc. This would really speed up the note-taking process.

[2016-05-22 21:49] yerbestpal commented on #41
Also, some sort of help section detailing said commands would have to accompany the feature.

[2016-05-22 21:58] Philip-Scott commented on #41
Yeah, i agree :+1: And actually, it's something i'm planning for the next release ;)

Although i'm not sure if Ctrl+B should set both sets of ** and put the cursor in the middle, or just one set, and have to ctrl+b again to close it.... Now, instead of a help section, i was thinking of adding them to the button's tooltips, i think that would integrate better with the current ui :)

- [ ] Create sh

[2016-05-22 22:04] yerbestpal commented on #41
Agreed; tooltips would work better. I think Having the command have ** at both ends works better. Obviously it minimises the amount of keystrokes and it'd make for quicker note-taking. If there were some way where a command would add the open **, and not add the closing one until hitting 'space' to move on, that'd be pretty great. It'd mean that you could nest the markup.

[2016-05-23 01:20] luisnando opened #42 "LATeX Plugin"
It would be great to have pandoc export capabilities. My notes are scientific in general, and sometimes I need to produce handouts. If I could export them into LATeX, so I could print them with a nice template like tufte-handout, that would be awesome. If you have some time, have a look at the Rmarkdown package, it works wonders already, but have it bolted into this app would be amazing. Please sh

[2016-05-24 03:49] Philip-Scott commented on #42
There have being quite a few people asking for LATeX support. After some thought, I've decided to not explicitly code support for LATeX, but instead make some kind of Plugin API for the app.

For example, let's say you want a pie chart. There could be a plugin for it were you could type something like <PieChart, 30%, 20%, 50%> and it would automatically make it for you when you clicked render.

In

[2016-05-24 03:55] Philip-Scott opened #43 "Plugin API"
# The Future is Plugins!

There should be some kind of plugin API where you could easily do things such as charts, insert websites, and even more advanced stuff like LATeX support.
### Plugin ideas:
- [ ] Attach Documents: Use some kind of viewer like http://viewerjs.org to display PDFs, Word docs etc
- [ ] Import code: Instead of copy-pasting code, have it so you can link to the document on your

[2016-05-24 04:02] Philip-Scott commented on #39
This is a weird bug i haven't being able to reproduce. ( #4 )

Do you mind sharing your computer's specs, and whether you installed it from the PPA, or if you compiled it?

Thank you! :smiley:

[2016-05-26 03:13] #39 closed

[2016-05-26 05:12] Andrewsudarikov opened #45 "Notes-up doesn't work correctly with HTML code"
When writing some snippets of code in Notes-u, it highlights the spelling in edit mode and shows a blank page in view mode. Maybe it's a good idea to keep the script highlighted in view mode and not to try to execute it?
[https://www.youtube.com/watch?v=_9rU2tGtmf4](url)

Oh, and remembering my prior report. This is my system configuration:
Elementary OS Freya 0.3.2 64-bit
Processor: Quad-Core Int

[2016-05-26 07:11] Andrewsudarikov commented on #45
Oh, and remembering my prior report. This is my system configuration:
Elementary OS Freya 0.3.2 64-bit
Processor: Quad-Core Intel Core i5-2300
Graphics: NVIDIA GF116 (GeForce GTX 55 Ti)

[2016-05-26 12:55] Philip-Scott commented on #45
Actually, this is more of an advanced "feature" than a bug. Markdown will not parse html code, instead it will just add it into the view so you can insert custom snippets of code.

For example, if you copy the "embedded" code of a YouTube video, it will actually add the video to your notes!

If you wanna add the actual code as plain text, try surrounding them with triple ''' 😄

Btw, Thank you for

[2016-05-27 04:38] #45 closed

[2016-06-01 13:30] jmjr opened #46 "Filename not cleaned: "/" breaks note saving"
Notes go missing when there is a character like " / " in the first header. Not sure if it is the only character that provokes this behavior, would be interesting.

e.g. A note that starts like this disappears after closing and reopening Notes-up:

# Issue One / Two

Sometimes Notes-up even crashes because of that.

[2016-06-01 13:36] Philip-Scott commented on #46
Yeah... i'm grabbing the first line and using it as the file name. I think the / is making it try to save into a different non existing directory.

I''ll make it so it cleans up the first line from characters that could break it, for now if you could make your titles not have a '/' it would be great! :wink:

Thank you for reporting it!

[2016-06-01 13:40] jmjr commented on #46
That explains the behavior. Cool. Ok, sure, no problem.

Thanks for the quick response and good work!

[2016-06-01 17:42] Philip-Scott commented on #46
Hey there! :) The latest commit 3071a84ea3a885befe646bd700e1efc2701ed52e should have fixed the problem you're having. The PPA build will not be updated until the next full release, so if you want the fix, you should be able to pull and build

Thank you for reporting it btw! It was something i've overlooked

[2016-06-01 17:42] #46 closed

[2016-06-01 17:44] Philip-Scott commented on #9
On the newest commit (3071a84ea3a885befe646bd700e1efc2701ed52e) i added support for very simple markdown such as bold and italics :) The more things i add support for it, the slower it will get, but i think those two are the more used

PPA won't be updated until the end of the Milestone, but you can always clone and build the newest release manually  :)

[2016-06-01 17:44] #9 closed

[2016-06-05 12:05] Menci opened #47 "Feature Request: Custom renderer (like pandoc) support ?"
With custon renderer, we can add more features (like math equation) ourselves.

[2016-06-05 14:35] Philip-Scott commented on #47
Yup, that is the plan, but for version 1.3 😄 I want to get the rest of the app really solid and feature complete before making a plugin API for it.

In the meantime, I'm going to close this bug as it's a duplicate of #43 . But still, thank you for making a comment 😄

[2016-06-05 14:35] #47 closed

[2016-06-05 14:42] Philip-Scott commented on #42
Hey there! I'm going to close this report to clean up the bug tracker as #43 will be covering the whole plugin API 😄

[2016-06-05 14:42] #42 closed

[2016-06-06 06:43] voline commented on #9
Thank you very much! I will wait for the milestone. Just less tedious.

On Wednesday 01 June 2016 11:14 PM, Felipe Escoto wrote:

[2016-06-06 20:50] probonopd commented on #25
@demonpig still working on this?

[2016-06-09 07:31] voline opened #48 "Note disappears when closing the application in Edit view"
I am using Notesup in combination with Seafile and am not sure the following problem is as a result of this.

My .notes folder is moved from its native location to the Seafile folder, with a shortcut to that folder is pasted in the native folder. Suppose I write a note "This bug is destroying my work," and close Notesup in the "edit view." Next time I open it up, the contents of the note are gone.

[2016-06-09 12:21] dcharles525 commented on #48
I also have this issue, running Elementary OS Freya

[2016-06-09 13:42] Philip-Scott commented on #48
So let me get this straight. You make .notes a link to a folder on SeaFile? Did you happen to move the file while the app was opened?

Maybe the app is not playing well with the shortcut you made.

Does this bug where notes don't save happen if you don't have the shortcut setup?

[2016-06-09 14:03] dcharles525 commented on #48
I just have the problem without any short cuts, just regular install, to clarify.

On June 9, 2016 9:42:46 AM EDT, Felipe Escoto <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-06-09 14:10] Philip-Scott commented on #48
Can you guys clone master and install that? It might have being fixed already :)

[2016-06-11 05:14] voline commented on #48
I am unable to build it. Get errors with `cmake -DCMAKE_INSTALL_PREFIX=/usr ../`

[2016-06-11 06:10] Philip-Scott commented on #48
@voline Which errors did you get?

[2016-06-11 07:18] voline commented on #48
Error says ;
`-- The C compiler identification is GNU 4.8.4
-- The CXX compiler identification is GNU 4.8.4
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /usr/bin/c++ -- works
-- Detecting CX

[2016-06-11 16:00] Philip-Scott commented on #48
@voline Can you start tryping `sudo apt-get install libwebkit2gtk-` and try to autocomplete? :) You need the one ending with `-dev`. And also do the same with libwebkit2gtk

[2016-06-12 08:49] voline commented on #48
@Philip-Scott I am not to sure what you mean. When I try those commands with the version numbers, I get `E: Unable to locate package libwebkit2gtk-3.0-25-dev E: Couldn't find any package by regex 'libwebkit2gtk-3.0-25-dev'

So I am not quite sure how to retrieve them.

[2016-06-12 18:34] dcharles525 commented on #48
my issue has been solved, thank you.

[2016-06-12 19:36] Philip-Scott commented on #48
@dcharles525 The newest branch solved it, or did you do something on your end? If the branch solved it i'll be closing the bug report :smile:

[2016-06-13 03:54] sgpthomas opened #49 "App Crashes on notebook edit if name contains a slash"
It's all in the title. But here's the boring terminal output in case you need it.

[code]

[2016-06-13 05:15] #48 closed

[2016-06-13 05:19] Philip-Scott commented on #49
The boring terminal output actually helped to see what's wrong :smiley:

Yeah, since each notebook internally acts like a folder, you can't have that character in it.... I'll make it so you can't access those illegal characters. Thank you for reporting it! :)

[2016-06-13 05:22] sgpthomas commented on #49
Haha I know thats why I gave it to you :)

[2016-06-13 13:39] Defman21 opened #50 "Custom theme for editor part"
I want to see an ability to create your own themes for editor part.

[2016-06-13 22:50] Philip-Scott commented on #49
It's being fixed on the Latest commit e873161 :)

[2016-06-13 22:50] #49 closed

[2016-06-13 22:53] Philip-Scott commented on #50
AFAIK, those have to be installed on the system, and cannot be modified by the user. The ones installed can be chosen from the preferences dialog, but a full theme editor is a bit out of scope and would just complicate things. Still, thank you for the feedback :smiley:

[2016-06-13 22:53] #50 closed

[2016-06-13 22:56] Philip-Scott commented on #16
After some thought, i'm not doing this. I really don't want to keep adding settings, and i feel like it wouldn't be much benefit since we already have the search

[2016-06-13 22:56] #16 closed

[2016-06-13 23:07] Defman21 commented on #50
Hmm okay, thanks.

[2016-06-19 09:26] NicoHood opened #52 "Missing + Wrong dependencies"
One of the deps is not found: `E: Couldn't find any package by regex 'gtk-3.0-25-dev'`.
It is probably one of those two, I assume the 2nd.

[code]

When calling cmake I get:

[code]

Now there are a few possible deps that could fit:

[code]

`libgranite-dev` made it.

Now vala is Missing:

[code]

There are tons of vala packages, but I installed `valac` and cmake finished fine.

So the final deps

[2016-06-20 18:51] flopp opened #54 "Files created in-source"
When performing an out-of-source build, e.g.

[code]

files in the source directories are changes/created (`src/config.vala` and various files in `deps/discount`). I would expect that the source directories are not touched and instead all files are generated within the `build` directory.

[2016-06-21 17:08] Philip-Scott commented on #54
Yeah, i agree that the deps/discount files is messy. I'm no expert with CMake but i'll see what i can do about it :)
The config.vala appears on the rest of the elementary projects though, so maybe that works as intended (?)

[2016-06-21 17:13] Philip-Scott commented on #52
You're right about the deps being wrong, i'll fix it right away.  But the schemas should work when you install the application using the rest of the instructions.

If i installed the granite dependency from the elementary-daily ppa, i was able to get it running under ubuntu gnome 16.04 without any problems, so it may work under arch (May due to the differences in gtk versions but who knows)

[2016-06-21 18:00] NicoHood commented on #52
This was tested with EOS. And I wanted to run the binary and not install it.

[2016-07-17 06:46] #30 closed

[2016-08-02 19:24] Philip-Scott commented on #38
Solved by: 5a8c8a59aba43cf16e9cf43dec51d419a3f1de19

[2016-08-02 19:25] #38 closed

[2016-08-03 02:41] Philip-Scott commented on #33
Commit 3f3d8153e31c554e4d180104b4188d76619113ac shows the shortcuts besides the buttons :smiley:

[2016-08-03 02:41] #33 closed

[2016-08-03 02:42] #41 closed

[2016-08-08 19:02] aleksandar-stefanovic opened #57 "No way to have h1, h2, etc. titles"
I've noticed that there isn't an option to have a title, subtitle etc. by the controls, but it's available if written manually. Have you considered this? I'm willing (albeit inexperienced) to work on this, if you tell me how you want it. I've already succeeded in adding a button that adds h1, /h1 tags in the same way that other tags work, but I think that some kind of spinner or something that wou

[2016-08-15 19:00] Philip-Scott opened #58 "Autosave every minute"
Have the app auto save every minute to avoid data loss in the event of a power-surge or having the app killed. Currently it saves when you change pages, view your notes & after closing if there was a change

[2016-08-15 19:01] Philip-Scott opened #59 "Current note not always selected"
If you change notebooks or while the app loads, the current note does not get selected, causing you to loose changes if you select it again :/

[2016-08-21 15:28] #58 closed

[2016-08-21 15:28] #59 closed

[2016-09-01 12:33] andbuitra opened #61 "Characters not displaying correctly. (Possibly codification error)"
The app is not displaying accents
![captura de pantalla de 2016-09-01 07 32 43](https://cloud.githubusercontent.com/assets/5218132/18167460/4d8a8c0a-7016-11e6-827d-df2b52431d56.png)

Maybe the app encoding is not UTF-8?

[2016-09-01 12:54] Philip-Scott commented on #61
Oh i'll look into it! might be a problem with the translation since accents are currently supported.

Spanish right? :smiley:

[2016-09-01 16:27] andbuitra commented on #61
@Philip-Scott Yes, it is spanish.

I thought it was related to UTF-8 encoding (common issue on web development) and tried to search for the xml to change the encoding but I have no experience at all with Vala

[2016-09-02 00:12] #61 closed

[2016-09-02 00:13] Philip-Scott commented on #61
That should fix the problem :) Thank you for reporting it!

I'll also be updating the rest of the spanish translations

[2016-09-04 20:01] psylock commented on #1
I think it's due to FileManager.vala, l110 :
    write_file (file, "");

the second argument is content, so with an empty string, the pdf is empty, isn't it ?

[2016-09-04 20:06] Philip-Scott commented on #1
@psylock The write_file (file, "") is just to make an empty file Webkit's printer is going to use... But you just made me think of something! The problem is that it's taking a bit longer to make the file and to load the page's contest so by the time it get's to the bottom it still isn't loaded.

Can you reproduce the problem consistently?

[2016-09-04 20:16] psylock commented on #1
Every time i export for pdf, i got a 0 bite file.

in write_file, you declare contents argument as a string, but after you call for a contents method (contents.data). I am misunderstanding ?

[2016-09-04 20:40] Philip-Scott commented on #1
@psylock Can you try out this patch? :smile: https://github.com/Philip-Scott/Notes-up/tree/pdf-print-test

[2016-09-04 20:51] psylock commented on #1
same result :'(

[2016-09-04 21:20] Philip-Scott commented on #1
Can you try it again? I got rid of that create empty file thing

[2016-09-05 06:58] psylock commented on #1
Still 0 bytes. Still "Printing..". message also.

[2016-09-09 06:57] psylock opened #63 "Save content for reinstall"
I'm gonna reinstall Loki soon, how can i save my Notes Up content for a new Notes Up installation ?

Thanks,

[2016-09-09 12:15] Philip-Scott commented on #63
Your notes should be saved to ~/.notes/ :smile: You can just copy that folder, and place it again after re-installation

BTW: If you install Loki with two different partitions (One for `/` and one for `/home`), you can just wipe the `/` without loosing your files in `/home`

[2016-09-09 12:15] #63 closed

[2016-09-10 12:26] eprozium opened #64 "Spell Checking?"
Hi,

Any chance getting spell checking functionality into Notes-up?

Thank you.

[2016-09-24 13:01] Kalt78 opened #65 "Tray icon for Loki"
Are there any plans in the future?

[2016-09-24 21:59] Philip-Scott commented on #65
@Kalt78 What would be the advantage to have a Tray Icon?

https://elementary.io/docs/human-interface-guidelines#does-your-app-need-an-indicator

[2016-09-25 06:58] Kalt78 commented on #65
It's convenient for me. I'm used to using Tomboy.

[2016-10-11 03:38] cassidyjames opened #67 "Handle links with the browser"
It's a little weird that links are opened in the notebook... which doesn't have any of my session details or browser navigation :wink:

It'd make more sense to hand off links to the system default browser.

[2016-10-11 04:01] Philip-Scott commented on #65
To be honest, the new Tray system isn't really made for these types of apps. System indicators should really be used to indicate things about your system :wink: If you use an specific feature of it, i could add it as an action on the dock icon. But for now, i'm going to mark it as Wont Fix

[2016-10-11 04:01] #65 closed

[2016-10-26 01:53] tatsuhirosatou opened #68 "Checklist item"
It would be great if it supported check list items, [like Github itself](https://github.com/blog/1825-task-lists-in-all-markdown-documents). This would allow you to also use this app as a todo app.

[2016-10-26 03:03] Philip-Scott commented on #68
What i can do easily is add support so that `- [x]` and `- [ ] ` shows as their respective buttons, but clicking on them would have no effect (It would need a mayor backend re-write to be able to do so....)

But if you really want a TODO app, check out [Go For It!](https://github.com/mank319/Go-For-It). It's another great app made for elementary (It's the one I use that almost every day :wink:)

[2016-10-29 00:35] tatsuhirosatou commented on #68
Thanks for your reply! In that case it would a bit backward to use it for that use case, I will check out that app you mentioned.

[2016-10-29 00:36] tatsuhirosatou commented on #67
I agree!

[2016-10-29 15:22] #68 closed

[2016-11-05 20:06] oskarkunik commented on #43
# Syntax highlighting with language detection

More than anything I'd love to see code highlighting with language detection for [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/). Cheers!

[2016-11-06 21:58] Philip-Scott commented on #43
@oskarkunik That's definitely doable! :smiley:

![screenshot from 2016-11-06 15 57 08](https://cloud.githubusercontent.com/assets/10786508/20042104/b358df8a-a439-11e6-9ab5-d4b6918c2e4c.png)

In the meantime though, if you want to manually add language detection you should add the folowing to your notes:

[code]

[2016-11-07 17:32] NicoHood commented on #52
This is still not yet fixed in the readme. Providing dependencies is essential to provide reproduceable builds.

I want to try to privde an AUR package. If I got any unresolveable dependencies I will edit my post here.

[2016-11-07 17:48] NicoHood commented on #52
Notes-up crashed on xfce. I know this was meant to be used with EOS but it would reach a much larger user base if you also support other DEs. I dont think that this is over complicated, as I've not seen any gnome-only application. I might have missed something in the build process though.

[code]

[2016-11-09 19:10] probonopd commented on #25
Ping @demonpig

[2016-11-13 19:59] brian-avery commented on #43
Nice program Phillip! I've been looking for something like Notes-Up on Linux for a while. How extendable do you see the plugin system being? Do you see the ability to add a drawable area with the plugins? I.e. I have a laptop with a pen. Would I be able to create a plugin to allow me to use that pen and draw on my notebook?

I'm teaching myself machine learning in my free time. I'm playing around

[2016-11-14 02:32] Philip-Scott commented on #43
@brian-avery It's definitely doable :) Plugins have the power to either insert anything at the editor, or change something for another before it starts rendering. They also currently have the ability to add a button in the editor's toolbar, so your possibilities are really limitless! I'm not sure how you could do the handwriting detection using something in GTK, but it would be really cool to see!

[2016-11-23 18:41] pulgalipe opened #69 "Syntax highlight for code spinnets"
I would like to have syntax highlight for code snippets on a note, it's one of the most basic features from a markdown editor and this is what's missing for this app become even better.

Thanks for support and this great app.

[2016-11-25 00:22] Philip-Scott commented on #69
I'm definitely planning on adding that once the plug-in system is out :) I've been super busy at school but hopefully after next week i'll have time again!

In the mean time, i wrote about how to add Syntax highlighting on issue #43

[2016-11-26 04:54] demonpig commented on #25
Hey guys, I am really, really sorry for being absent all this time. I dont have an excuse besides just forgetting all about this. I will be trying to get it packaged this weekend for AppImage. Will update this thread on Sunday of the results.

[2016-11-26 19:50] Philip-Scott commented on #25
@demonpig I really appreciate that, thanks :) And don't worry

[2016-11-28 04:36] demonpig commented on #25
OK. So the weekend was a lot more busy than I would have liked. But I was able to get Notes-up packaged into an AppImage. The base OS that I am using is elementary 0.3.2 (Freya). When I try to run the AppImage on openSUSE Leap 42.2 I was getting an error message:

    Schema not installed 'org.notes'

So I still have some more work to do to get it properly packaged.

[2016-11-28 04:40] Philip-Scott commented on #25
Ahh yeah, that's a problem with using Granite.Settings. If the schema is not installed, it causes that error since it expects it to be installed

If you want to get rid of it for now, you can change 'Granite.Services.Settings' to 'Object' in  https://github.com/Philip-Scott/Notes-up/blob/master/src/Services/Settings.vala, and give some default values to the properties

[2016-11-30 00:46] demonpig commented on #25
Well I solved the schema not installed issue. I had to run the following command:

    glib-compile-schemas ./usr/share/glib-2.0/schemas

The file path is local to the AppImage. Now I am working on other issues:

    (Notes:16796): CRITICAL **: file /build/notes-up-HEDxs2/notes-up-0.1/src/Widgets/Headerbar.vala: line 115: uncaught error: GDBus.Error:org.freedesktop.DBus.Error.ServiceUnknown: The n

[2016-11-30 02:21] Philip-Scott commented on #25
I can get rid of contractor using compiler flags such as `#If_ELEMENTARY`

Contractor is a utility to allow apps passing things to other apps easily such as Send by Email, Compress and other actions, but it's really an elementary thing

[2016-11-30 02:57] demonpig commented on #25
Would that be something easy to implement? I am not too handy with CMake or Vala. I think we are almost there with packaging this into an AppImage. I will look into the libpango issue.

[2016-11-30 03:16] Philip-Scott commented on #25
I honestly have no idea on how to set them up using CMake, but iirc there is at least another elementary project using them. So I'll look into that :) (I probably won't have time this week though... I'm on my last week of the semester)

If i'm not mistaken, if you remove [this block of code](https://github.com/Philip-Scott/Notes-up/blob/master/src/Widgets/Headerbar.vala#L115 ) it should get rid of

[2016-11-30 03:43] demonpig commented on #25
I will try that and re-compile and repackage to see if that works. Good luck with exams!

[2016-12-10 22:51] ghost opened #70 "Online syncing"
Is there any possibility of adding syncing via SimpleNote or other online note syncing service?

Thank you.

[2016-12-17 15:42] demonpig commented on #25
So I have added a conditional compilation statement around the Contractor-specific code. In other words, the program can be compiled without using Contractor. I will submit a pull request on Sunday for review. Just want to clean up the sloppy code i wrote.

[2016-12-17 17:10] Philip-Scott commented on #25
I am so sorry, i completely forgot about it until i got your email.

With the newest branch, you should be able to run `cmake -D noele:BOOL=TRUE .. -DCMAKE_INSTALL_PREFIX=/usr` and it will remove all the elementary-only features :)

[2016-12-17 17:37] demonpig commented on #25
LOL. OK. I will work with that branch then.

[2017-01-02 03:56] Philip-Scott commented on #67
Fixed in: 42b70585e71510eedb271adb5a924f061695b051 :smile:

[2017-01-02 16:16] #67 closed

[2017-01-10 23:45] tenroc commented on #43
Really nice note app, thanks a lot for your work!
Would it be possible to add the possibility to write simple tables?
Maybe using a syntax along those lines? :

          | title 1   | title 2   | title 3
title a  | cell 1a | cell 2a  | cell 3a
title b  | cell 1b | cell 2b  | cell 3b
title c  | cell 1c | cell 2c  | cell 3c

[2017-01-12 00:34] Philip-Scott commented on #43
@tenroc You already can :) You just need to add a line:

[code]

[2017-01-12 01:35] tenroc commented on #43
Neat!
But I might be doing something wrong, however, since for me, theses lines:

![alt text](http://i.imgur.com/NrRE4yC.png)

Render like this:

![alt-text](http://i.imgur.com/btM0wU3.png)

Which as you can see isn't exactly a practical way to display a table.
I should add that I'm running a self packaged version of the git master branch as I'm currently running solus and no package was available

[2017-01-12 02:03] Philip-Scott commented on #43
@tenroc Interesting, what stylesheet are you using? I'm using the default stylesheet and mine render like this:

![Uploading Screenshot from 2017-01-11 20:01:45.png…]()

I did have some problems setting up the repo this time but it should be good to go now :)

[2017-01-12 02:22] tenroc commented on #43
@Philip-Scott  Oh I've tried that with all of the included stylesheets. The screenshots were taken using the default one I think.
However, even if on yours, the alignment and spacing is definitely a lot better, there is still no cell separation lines. Is there an option to add them? Is this configurable via the CSS stylesheet?

As for the repo, as mentioned as I'm not using elementary or even ubun

[2017-01-14 22:43] demonpig opened #74 "Not able to build Notes-Up on elementary Freya"
When trying to build the updated the Notes-Up application, I am getting the following error message:
[code]
From what I can gather, `WebKitNavigationAction` only exists in webkit2gtk-4.0. I saw in the CMakeLists.txt file that there is a check for both version 3 and 4 of webkit2gtk. But when adding the dependencies to the compilers, ```webkit2gtk-4.0``` is specified. Below is a link to what I am re

[2017-01-14 23:23] Philip-Scott commented on #74
To be honest, i don't think i'll be officially supporting Freya anymore. (Loki is pretty good and i don't really have the time to make sure it supports previos versions of the OS)

But if you really want to build it yourself it, try removing this block of code: https://github.com/Philip-Scott/Notes-up/blob/master/src/Widgets/Viewer.vala#L104 :) That should do the trick

[2017-01-14 23:23] #74 closed

[2017-01-28 16:34] appcenter[bot] opened #75 "Create an AppData file"
AppCenter could not find a `com.github.philip-scott.notes-up.appdata.xml` file for your project. Please create one to provide additional data to application managers.

For more information please look over these docs:
- [freedesktop](https://www.freedesktop.org/software/appstream/docs/chap-Quickstart.html)

**Affects**: [1.3.0 release](https://github.com/Philip-Scott/Notes-up/releases/tag/1.3.0)

[2017-01-28 16:34] appcenter[bot] opened #76 "Create a desktop file"
In order for your application to be fully accessible on the desktop, you will need to provide a desktop file named `com.github.philip-scott.notes-up.desktop`. This file lets everyone know what icon to use, what file to run, and any alternative actions that can be ran.

For more information please look over these docs:
- [elementary Getting Started](https://elementary.io/docs/code/getting-started#t

[2017-01-29 23:44] febrezo opened #77 "Regarding translations"
I'm not sure on where to localize the appllication in Launchpad or here. It seems that this repository is more active than the Launchpad one. Is this correct? Which is the desired approach to perform the localizations?

[2017-01-30 00:59] Philip-Scott commented on #77
Yeah, this is actually the main repo. I only use launchpad for building.

You could use the .po inside the /po directory, if the file for your language isn't generated (Or if it's outdated) you can run `make pot` and it will generate those for you :)

[2017-02-09 09:53] JO0st commented on #1
To me it is still happining in version 1.3

[2017-03-04 14:06] demonpig opened #81 "[Q] Keep sidebar visible when transitioning between viewing and editing?"
I am testing out the Notes-Up application and the workflow seems to be a lot better when the sidebar is still viewable. What I mean is by setting the following to true ([Link](https://github.com/Philip-Scott/Notes-up/blob/master/src/Widgets/ViewEditStack.vala#L103)):

    Sidebar.get_instance().visible = true;

This will keep the Notebook list sidebar and PagesList viewable while editing a page of

[2017-03-04 14:22] demonpig commented on #54
I have a PR where a .gitignore file is added. I think that would resolve this issue.

[2017-03-05 19:15] #81 closed

[2017-03-06 01:46] Nine-H opened #82 "be nicer to the filesystem for git"
I have a notes repo at https://github.com/Nine-H/ITECH2017-Notes

this workflow is pretty nice for sharing notes with classmates but there's a few issues:

1. putting all the data at the end of the filename is uggersAF
2. files should have a .md extension so they can be viewed formatted from github
3. might be nice to integrate git into the app, but not necessary

I'll try to keep you posted on wh

[2017-03-06 02:21] Philip-Scott commented on #82
@Nine-H Yeah, i agree it was ugly AF, but it being like that made sure files didn't collision and caused problems.

But actually, the newest version completely ditches the file system in favor of a database for storing the data. I am thinking of adding a way to export complete notebooks as either PDF, HTML or the raw markdown as the .md

If you want to try the new version, you have to add the newe

[2017-03-06 04:01] Nine-H commented on #82
shit, there goes my workflow. roughly what revision would `notes-up/xenial,now 0.1-0~20+r1~ubuntu0.4.1 amd64 [installed] be?`

[2017-03-06 04:12] Philip-Scott commented on #82
Heh :sweat_smile: that's the reason i didn't push the update on the old repo

[Rhis is the last commit](https://github.com/Philip-Scott/Notes-up/tree/6487c25b393ee7cd7bca92512b0c31ece4dc2449) before i started switching to using a database for saving everything!

Although, if you can I would switch to it sooner rather than later. There are some really cool features coming soon like being able to st

[2017-03-06 04:16] Nine-H commented on #82
all good, these things happen.

what's the (very rough) eta on being able to dump .md so I can maintain continuity for the people that read off my notes? do you have a plan for importing notes? I like to use git to sync between my notebook and my desktop too, is there a way to do that or will I have to dick around with elementary sharing settings?

[2017-03-06 04:23] Philip-Scott commented on #82
If both computers run elementary, you should be able to sync the database file with something like dropbox (Or even github, although it won't be pretty)

Importing could work, but i think i would make it so it imports to a new Notebook since overwriting won't end up well (And would like to figure out #23 first so moving notes isn't a pain)

But i'm thinking on having exporting done this week, depe

[2017-03-06 04:29] Nine-H commented on #82
I really don't want to fork, but I liked flat files because I could use source code tools to manage them, version control them, and work on them in a distributed way. I guess you're not moving back for the forseeable future. shit. I might have to. does the new revis do file association and work as a general .md editor?

[2017-03-06 04:35] Philip-Scott commented on #82
It does not. But if what you want is a pure markdown editor, there is one made by another elementary dev:  https://github.com/voldyman/MarkMyWords

[2017-03-06 21:48] #82 closed

[2017-03-07 03:05] demonpig commented on #54
I think this has been solved via the recent merge of the .gitignore list.

Simply:

    mkdir build && cd build

    cmake ..

    make

[2017-03-07 03:07] Philip-Scott commented on #54
Mmm not really, It's still adding files on deps/discount. The expected behaviour is that everything gets added inside of `build`. But it was a good middle step :)

[2017-03-10 12:11] demonpig commented on #54
I am working on configuring CMake to download discount directly from the **[source](http://www.pell.portland.or.us/~orc/Code/discount/)**. The version of discount being downloaded will not change. So version 2.2.0 will be downloaded. Once the download finished, CMake will then compile discount from there.

Right now I have it working on my machine but am going to test a build on Loki VM.

[2017-04-13 04:39] #76 closed

[2017-04-13 04:39] #75 closed

[2017-04-13 04:42] appcenter[bot] opened #90 "Warnings about Debian control file"
AppCenter Dashboard found some issues with your `debian/control` file. While we will continue
to try to build your project, we recommend you take a look and fix these
problems for next time.

- Package is not valid reverse domain name scheme

**Affects**: [1.3.1 release](https://github.com/Philip-Scott/Notes-up/releases/tag/1.3.1)

[2017-04-13 04:42] appcenter[bot] opened #91 "Invalid Desktop file"
AppCenter Dashboard ran `desktop-file-validate` on your project's `.desktop` file and received the following errors:
[code]

---

For more information, see the [Desktop Entry Specification](https://standards.freedesktop.org/desktop-entry-spec/latest/ar01s05.html)

**Affects**: [1.3.1 release](https://github.com/Philip-Scott/Notes-up/releases/tag/1.3.1)

[2017-04-13 04:44] #91 closed

[2017-04-13 04:46] #90 closed

[2017-04-13 04:48] appcenter[bot] opened #92 "Failed to build with liftoff"
Apphub failed to build with liftoff. Here is the log:

[code]

**Affects**: [1.3.2 release](https://github.com/Philip-Scott/Notes-up/releases/tag/1.3.2)

[2017-04-13 04:52] #92 closed

[2017-04-13 04:55] appcenter[bot] opened #93 "Unable to communicate with elementary repository API"
Houston was unable to communicate with elementary's repository, and therefor
unable to publish your files in the testing repository. Please re-run houston,
or contact a Houston developer for help.

**Affects**: [1.3.3 release](https://github.com/Philip-Scott/Notes-up/releases/tag/1.3.3)

[2017-04-14 01:35] appcenter[bot] opened #94 "Unable to communicate with elementary repository API"
Houston was unable to communicate with elementary's repository, and therefor
unable to publish your files in the testing repository. Please re-run houston,
or contact a Houston developer for help.

**Affects**: [1.3.3 release](https://github.com/Philip-Scott/Notes-up/releases/tag/1.3.3)

[2017-04-14 02:09] appcenter[bot] opened #95 "Unable to communicate with elementary repository API"
Houston was unable to communicate with elementary's repository, and therefor
unable to publish your files in the testing repository. Please re-run houston,
or contact a Houston developer for help.

**Affects**: [1.3.3 release](https://github.com/Philip-Scott/Notes-up/releases/tag/1.3.3)

[2017-04-18 04:47] appcenter[bot] opened #96 "Unable to overwrite existing package"
Houston failed to upload your project to the elementary repositories because
a package with the same name and version already exists in the repository.
Please contact a Houston developer for assistance.

**Affects**: [1.3.3 release](https://github.com/Philip-Scott/Notes-up/releases/tag/1.3.3)

[2017-04-18 14:38] appcenter[bot] opened #97 "Unable to communicate with elementary repository API"
Houston was unable to communicate with elementary's repository, and therefor
unable to publish your files in the testing repository. Please re-run houston,
or contact a Houston developer for help.

**Affects**: [1.3.5 release](https://github.com/Philip-Scott/Notes-up/releases/tag/1.3.5)

[2017-04-18 14:55] #93 closed

[2017-04-18 14:55] #94 closed

[2017-04-18 14:55] #95 closed

[2017-04-18 14:55] #96 closed

[2017-04-18 14:55] #97 closed

[2017-04-18 16:07] danrabbit opened #98 "App named inconsistently"
The appdata says "Notes-Up", but the .desktop says "Notes", the window title says "Notes-up" :p

[2017-04-18 16:09] danrabbit opened #99 "Replace granite.widgets.appmenu with gtk.menubutton"
https://valadoc.org/gtk+-3.0/Gtk.MenuButton.html

The granite appmenu widget has a hardcoded icon name that doesn't exist anymore. The proper icon name for the menu is "open-menu"

[2017-04-18 18:20] danrabbit opened #100 "Don't put your database directly in .local"
it should be in `.local/share/notes-up`

[2017-04-19 00:42] demonpig commented on #54
@Philip-Scott Do you think its wise to have CMake download discount from [Github](https://github.com/Orc/discount/archive/v2.2.2.tar.gz) or should CMake use git-submodules? I am conflicted between both options. I am not too familiar with git-submodules but I can learn more about them.

[2017-04-19 01:21] Philip-Scott commented on #54
If i understand submodules correctly, i think using them might be safer since i could at least make sure that the release is working properly with the module i'm targeting instead of having it download automatically (and potentially breaking)

[2017-04-19 01:27] demonpig commented on #54
OK. I am going to explore using that instead of downloading. I was having second thoughts about downloading the library as there was no sha256 checksum provided with the download. People would have to trust that the library was not modified.

[2017-04-19 14:58] Philip-Scott commented on #100
Fixed on: https://github.com/Philip-Scott/Notes-up/commit/b904593f46fb1cec44d6bc5fa5a4258759b8afe8

[2017-04-19 14:58] #100 closed

[2017-04-19 15:27] Philip-Scott commented on #99
Fixed on: 5f0b171

[2017-04-19 15:27] #99 closed

[2017-04-19 15:33] Philip-Scott commented on #98
Fixed on https://github.com/Philip-Scott/Notes-up/commit/55a849ca4c6b43e583b76d13551a8ec1631d471c

[2017-04-19 15:33] #98 closed

[2017-04-20 01:27] btkostner opened #101 "AppStream ID missing desktop"
In your appstream data file, the ID should be `com.github.philip-scott.notes-up.desktop` not `com.github.philip-scott.notes-up`.

[2017-04-20 01:27] btkostner commented on #101
Never mind, this is probably an issue with houston...

[2017-04-20 01:27] #101 closed

[2017-04-22 21:57] matzipan opened #103 "Add method to remove notebooks"
Currently, it seems to me that you can only create notebooks, not remove any.

[2017-04-22 22:00] matzipan opened #104 "Use a dconf FQDN to match the package name"
Currently, it is `org.notes`.

[2017-04-22 22:05] matzipan opened #105 "Upon opening/closing the preferences window before creating the first notebook, segfault happen."
Stacktrace:
[code]

Steps to reproduce:
1. Fresh install (or delete the .db file, and set org.notes.last-notebook and org.notes.last-page to 0)
2. Open preferences
3. Close preferences
4. Crash happens

[2017-04-22 23:48] Philip-Scott commented on #103
seems to be a problem with the Houston build, it's looks like it's compiling against an older version of Granite

[2017-04-22 23:48] #103 closed

[2017-04-23 00:04] Philip-Scott commented on #104
Fixed on: https://github.com/Philip-Scott/Notes-up/commit/f37020d7fa5df1bd0f9fb21f9e639c02d641e844

[2017-04-23 00:04] #104 closed

[2017-04-23 00:39] Philip-Scott commented on #105
Had the code that creates a new notebook and page commented out. Good catch! thanks :)

[2017-04-23 00:39] #105 closed

[2017-04-23 13:09] richardwonka opened #106 "Double-click on page doesn't commit recent changes"
Hey there,

When switching to the view via the toggle buttons in the top bar, all changes get committed and the behaviour is as expected.

However, when switching from edit to view via double-click on the page's tab (between notebook list and editor/view pane) - the view does not show the most recent changes.

What a lovely little app you have put together there. :-)

[2017-04-23 17:47] Philip-Scott commented on #106
Done! Fixed on: d306df2 :)

I was loading the new page's data before saving the current page, thus the weird stuff was happening.

[2017-04-23 17:47] #106 closed

[2017-04-23 20:31] Philip-Scott commented on #57
I've added a help section on the editing view in https://github.com/Philip-Scott/Notes-up/commit/ca074d07fca04b6505b526e6f2fc29ecaea3fb86

It's not really this item on the toolbar, but it will still introduce new people on how to use it!

[2017-04-23 20:31] #57 closed

[2017-04-24 01:42] richardwonka commented on #106
Nice!

this looks like there are two places in the code that are _supposed_ to do the same thing (but didn't just now) - sounds like a target for refactoring. :)

Thank you for your work!

[2017-04-24 01:44] richardwonka commented on #70
Evernote and Google Keep come to mind...

it _would_ be a fantastic feature, even if it's just the possibility to import for a start. :)

[2017-04-24 01:47] richardwonka opened #107 "Internal links possible?"
It would be great to be able to reference other pages by number (such as here #70) or name.

A lot of note taking and general mind-work is networked in nature, so mapping the connections in the notes would be very helpful.

[2017-04-24 13:12] appcenter[bot] opened #108 "Invalid Desktop file"
AppCenter Dashboard ran `desktop-file-validate` on your project's `.desktop` file and received the following errors:
[code]

---

For more information, see the [Desktop Entry Specification](https://standards.freedesktop.org/desktop-entry-spec/latest/ar01s05.html)

**Affects**: [1.3.8 release](https://github.com/Philip-Scott/Notes-up/releases/tag/1.3.8)

[2017-04-24 21:57] therocco opened #109 "Doesn't start up in elementary OS 0.4 Loki"
Trying to start the app causes it to crash immediately with this message:

[code]

[2017-04-24 22:22] Philip-Scott commented on #109
Hey, thank you for writing up this issue!

How did you install the app btw? The issue you're having should've been fixed two days ago :sweat:

https://github.com/Philip-Scott/Notes-up/blob/311f4e8ec7288566e322992ea32857d7dafff1f8/src/Widgets/PagesList.vala#L181

if you installed it via the PPA, try running your updates again. And if you build it manually, try pulling and recompiling. There was a n

[2017-04-24 22:24] therocco commented on #109
Installed from PPA a couple days ago and deleted a notebook today and closed the app. I managed to fix it in dconf editor by setting `last-notebook` and `last-page` to `0`. Last notebook seemed to be the ID of the notebook I deleted right before closing.

[2017-04-25 01:42] appcenter[bot] opened #110 "Unable to communicate with elementary repository API"
Houston was unable to communicate with elementary's repository, and therefor
unable to publish your files in the testing repository. Please re-run houston,
or contact a Houston developer for help.

**Affects**: [1.3.9 release](https://github.com/Philip-Scott/Notes-up/releases/tag/1.3.9)

[2017-04-25 02:55] #108 closed

[2017-04-25 02:55] #110 closed

[2017-04-25 03:05] appcenter[bot] opened #111 "Unable to communicate with elementary repository API"
Houston was unable to communicate with elementary's repository, and therefor
unable to publish your files in the testing repository. Please re-run houston,
or contact a Houston developer for help.

**Affects**: [1.3.10 release](https://github.com/Philip-Scott/Notes-up/releases/tag/1.3.10)

[2017-04-25 12:23] yerbestpal opened #112 "Cannot properly align text highlighted as code"
I was hesitant to submit this as an issue as I am unsure whether this is a flaw or if I am doing something wrong. I am trying to format some text as code but when I do this, the code is no-longer on the appropriate lines and is sandwiched together. I've included before and after images.

Unformatted:
![no_code](https://cloud.githubusercontent.com/assets/15250241/25384950/2e25af3a-29ba-11e7-89ec-d9

[2017-04-25 12:51] Philip-Scott commented on #112
@yerbestpal Hey man :) How are you doing the markdown code?

[2017-04-25 12:53] Philip-Scott commented on #112
Typing:

 ![screenshot from 2017-04-25 07 52 34](https://cloud.githubusercontent.com/assets/10786508/25386200/67289b1a-297b-11e7-974f-328035650cbb.png)

should return this:
![screenshot from 2017-04-25 07 52 11](https://cloud.githubusercontent.com/assets/10786508/25386215/73e0ae6a-297b-11e7-9d2e-919c23bcf745.png)

Make sure you add a blank line before the firest ` ``` ` so that Markdown doesn't th

[2017-04-25 20:17] yerbestpal commented on #112
That's a great help, thanks.

[2017-04-25 22:42] Philip-Scott commented on #112
No problem! :)

I see you're using python! If you type `<highlight>` on one line, and do your code like this:

![screenshot from 2017-04-25 17 40 03](https://cloud.githubusercontent.com/assets/10786508/25410769/96053054-29cd-11e7-8db4-c7a9b89e3724.png)

The syntax will automatically be highlighted :)

![screenshot from 2017-04-25 17 39 48](https://cloud.githubusercontent.com/assets/10786508/254107

[2017-04-25 22:42] #112 closed

[2017-04-26 00:21] #111 closed

[2017-04-26 14:09] yerbestpal commented on #112
Hrm, can't seem to get this to work at all. I'll keep messing around. Thanks though.

[2017-04-26 14:24] yerbestpal commented on #112
From what I can tell I'm doing this correctly, but the python highlighting isn't working.

view mode:
![view](https://cloud.githubusercontent.com/assets/15250241/25439399/46b4411c-2a94-11e7-9320-7dc7958b493a.png)

edit mode:
![edit](https://cloud.githubusercontent.com/assets/15250241/25439408/4cd225e6-2a94-11e7-8b22-c21a18e271ee.png)

Also I'm aware I'm dragging this out in an irrelevant Github is

[2017-04-26 15:28] Philip-Scott commented on #112
It's no problem :) Do you have the newest version installed? If you do, you should be able to see a help button on the top right that clicking it shows something like this:

![screenshot from 2017-04-26 10 24 45](https://cloud.githubusercontent.com/assets/10786508/25442567/3dd0fafc-2a5a-11e7-9855-8bff027c58b9.png)

If you do, can you make sure that the folder `/usr/share/notes-up/` exists on your

[2017-04-26 15:37] Philip-Scott commented on #112
And if you DO have it installed, could you try testing the code with highlight on it's own page? :)

[2017-04-26 15:45] yerbestpal commented on #112
It looks like I'm out of date then. I have installed via the PPA. Also, I don't have `/usr/share/notes-up/`.

[2017-04-27 14:00] yerbestpal commented on #112
It looks like I'm out of date then. I have installed via the PPA. Also, I don't have `/usr/share/notes-up/`.

[2017-04-27 18:06] yerbestpal opened #113 "Import/export notes?"
This would be an incredibly useful function, assuming they are in a format that can be understood by other note applications.

Really I'm asking this because I want to replace my PPA build with the latest build, but don't want to loose my current notes.

[2017-04-27 21:16] Philip-Scott commented on #113
Yeah, that's on the pipeline! I actually have that written down on the Projects section :)
https://github.com/Philip-Scott/Notes-up/projects/2

[2017-04-27 21:17] Philip-Scott commented on #113
But you won't loose your current notes, they will be auto-imported when you first start up the app again

[2017-04-30 17:20] sgpthomas opened #114 "Drag'n'Drop"
Would be cool to be able to drag notes from one notebook into another notebook. You would drag it from the middle sidebar to the right notebook sidebar. Maybe even allow dragging to trash for deletion?

[2017-04-30 20:01] yerbestpal commented on #113
If I were to build from scratch, would that overwrite the PPA installation and retain my notes?

[2017-04-30 22:41] Philip-Scott commented on #113
yeah, it will give you the newest available version and will import your notes :) and *if* something goes wrong, you can run a `sudo apt-get install notes-up --reinstall` to return to the PPA version

[2017-04-30 22:45] yerbestpal commented on #113
Do you know what's going on here?
[code]

[2017-04-30 22:48] Philip-Scott commented on #113
yeah, it looks like you don't have all dependencies installed.
You need to install:

[code]

[2017-04-30 22:57] Philip-Scott commented on #114
Yes! I would actually love to get that working (It's actually been on the pipeline since #23....) But sadly, i haven't been able to get Drag n Drop working on the sidebar and on the pages list :/ I might

(Closing this since is a duplicate of that report)

[2017-04-30 22:57] #114 closed

[2017-04-30 23:24] yerbestpal commented on #113
Oh right, I assumed they must be installed because Notes Up already is. Thanks though.

[2017-04-30 23:25] Philip-Scott commented on #113
Did you get into any issues? Things like not importing or the app crashing?

[2017-04-30 23:30] yerbestpal commented on #113
Yeah, it doesn't actually look like the app is the latest version. It doesn't have the help section that we talked about.

[2017-04-30 23:32] Philip-Scott commented on #113
Ahh i see. That just builds the app. But you need to run `sudo make install` to actually install it

I'll update the README in a min

[2017-04-30 23:35] yerbestpal commented on #113
Yeah I literally just realised I had used `make` rather than `sudo make install`. Thats what I get for not paying attention.

[2017-04-30 23:38] yerbestpal commented on #113
The syntax highlighting is incredible btw, good job.

[2017-04-30 23:41] Philip-Scott commented on #113
Glad that's working out for you now :) Hope you didn't have any problems with the update

[2017-04-30 23:51] yerbestpal commented on #113
Actually, syntax highlighting only seems to be working in one note I've made. The others don't work at all.

[2017-05-01 00:18] Philip-Scott commented on #113
@yerbestpal Can you make a new issue and post the markdown there?

[2017-05-01 00:35] yerbestpal opened #115 "Syntax Highlighting isn't working consistently throughout notes"
The highlighting seems to work fine for one of my notes, but not for the rest. I can't see any errors on my own part, but I wouldn't rule it out. I'm never actually worked with markdown in the past.

Working:
![working](https://cloud.githubusercontent.com/assets/15250241/25569369/212aef68-2e0e-11e7-9f70-5e4c226eb911.png)
![working1](https://cloud.githubusercontent.com/assets/15250241/25569371/2b3a

[2017-05-01 00:47] Philip-Scott commented on #115
@yerbestpal Mind posting the raw markdown text? :) or if you don't want to post them could you email them to me? Thanks!

[2017-05-01 00:50] yerbestpal commented on #115
Absolutely, it's not private stuff, just notes copied over from Udemy.

#Notes & Summary For Section 2

##Section 3, Lecture 27

-----

**Notes and summary for section 2 **

**If statements in Python: **

In order to write useful programs, we almost always need the ability to
check conditions to change the behavior of the program accordingly.
Conditional statements allow us to do so. The simplest

[2017-05-01 02:14] Philip-Scott commented on #115
If you make a new page with only the block of code you sent me, does it not work for you? Because it is working on my end :thinking:

![screenshot from 2017-04-30 21 12 40](https://cloud.githubusercontent.com/assets/10786508/25570345/15ef9584-2dd9-11e7-8aa1-f3a690c30186.png)

I'm guessing the plugin is/could be crashing from something else in your page, mind sending the whole thing? :)

[2017-05-01 02:19] Philip-Scott commented on #115
Ahh! I found the problem!

You have this block of text:

[code]

If you remove the apostrophe on `Phython's`  it's working again :) The plugin might be crashing or something on weird characters. It's actually not a bug with my code but with https://highlightjs.org. I'll see if i can fix it, or if i can poke who knows more about it

[2017-05-01 10:12] yerbestpal commented on #115
Sorry I had to go to bed last night. The block of code _does_ work if I make a new note. I'm guessing that things like this apostrophe error will likely be causing all of the problems in my notes.

[2017-05-01 11:39] yerbestpal commented on #115
It looks like apostrophes are the problem for everything. I'm rewriting this guys notes from scratch and I'm having no errors. Thanks for all your help. One last question; can I apply code formatting to snippets of code, or does it have to be code blocks?

[2017-05-03 18:56] yerbestpal opened #116 "When deleting notes, I have to restart the app for the note to disappear from the list."
Even though there is visual confirmation of deletion via the trash section, the note remains listed and it can cause confusion unless I restart the app.

[2017-05-03 18:58] yerbestpal opened #117 "Edit and View modes are not at the same position in the note when switching between them"
I don't know if that's intentional or not, but when I am looking down a note in 'view' mode, and see something I want to edit, it would be very handy if 'edit' mode opened at the same area to save scrolling around to find it. Especially in larger notes.

[2017-05-03 19:00] yerbestpal opened #118 "No way to organise or sort notes in any order"
It would be good to be able to organise notes within a notebook to suit any order. Anything like drag and drop, or keybindings would be great. I have a feeling this is already possible through markup within the notes so if that's the case, apologies.

[2017-05-05 16:03] malnvenshorn opened #119 "Problems with cmake 3.8"
Trying to build the app from source fails with cmake 3.8. Using cmake in version 3.7.2 works.

Here is the output:

[code]

[2017-05-05 17:15] Philip-Scott commented on #119
Weird that's failing at `discount` since that's a dependency i ship with Notes-Up.... I can't really fix that atm since my version of CMake is 3.5.1

[2017-05-05 18:20] cassidyjames opened #120 "Erroneous `.` in developer_name"
https://github.com/Philip-Scott/Notes-up/blob/master/data/com.github.philip-scott.notes-up.appdata.xml#L30

whoops

[2017-05-05 19:50] #120 closed

[2017-05-06 08:02] khurshid-alam opened #122 "Wrong icon size with headerbar button with Ubuntu"
I am using it on Ubuntu 17.04, granite-3.1.x installed from elementary PPA. Icon theme is default icon theme `ubuntu-mono-dark`and gtk-theme Numix.

Somehow it sets icon-size to a uncommon number **6**.. You can see it with gtk-inspector

![notes-up-bug-iconsize](https://cloud.githubusercontent.com/assets/1333217/25770926/365fa33c-3260-11e7-8f56-40bb574489af.png)

The result is same with every oth

[2017-05-06 08:43] memnoth commented on #119
``sudo apt update && sudo apt install -y libmarkdown2-dev`` will help you to completely compile it.
discount is a program/library about `implementation of the Markdown markup language in C`.
But actually we need **libmarkdown2-dev**, not `discount` from package.

P.s i don't know why this package is needed to compile it, even thought it isn't linked in run-time aspect.

[2017-05-07 01:25] demonpig commented on #119
@malnvenshorn what operating system are you using? I can boot up a VM and test this out.

[2017-05-07 03:24] memnoth commented on #119
Have you tried to install ``discount`` ?

[2017-05-07 11:59] malnvenshorn commented on #119
@demonpig I'm using Arch Linux.

By providing `libmarkdown.so` Notes-Up will compile. It just fails with the current cmake version and the shipped dependency.

[2017-05-07 12:02] demonpig commented on #119
@malnvenshorn thanks!

[2017-05-08 00:34] demonpig commented on #122
@khurshid-alam can you re-build Notes-Up with the new updates that were pushed to master branch? If you are still experiencing the issue, can you post some new photos? Thanks!

[2017-05-09 04:53] khurshid-alam commented on #122
@demonpig

Thanks. It fixed the issue. But ideally it shouldn't request `non-starred.svg` on headerbar. It should request `non-starred-symbolic.svg` (example dconf). Then it will match properly with the theme whether dark or light.

[2017-05-09 04:54] #122 closed

[2017-05-09 07:29] JamesTiberiusKirk commented on #119
Hi, I'm on arch and I do have discount installed, but it still fails.

[2017-05-09 14:04] malnvenshorn commented on #119
Sorry you are right. Downgraded to cmake 3.7.2 and forgot to upgrade again before testing. My mistake...

[2017-05-10 03:32] Philip-Scott commented on #117
I think it should be possible by messing around with the scrollbars, I'll give it a try once the semester ends!

[2017-05-10 03:33] Philip-Scott commented on #116
It was actually by design to not hide the notes (Although they can't be edited once they're in the trash) But yeah, i think it does make more sense to just remove it from the list as well

[2017-05-10 03:34] #69 closed

[2017-05-10 03:36] Philip-Scott commented on #119
@malnvenshorn, do you think that the problem is that CMAKE 3.8 is not picking up the internal package anymore?

[2017-05-10 05:18] demonpig commented on #119
I have not quite nailed down what exactly is the issue. But I did discover if I removed the following [line](https://github.com/Philip-Scott/Notes-up/blob/master/CMakeLists.txt#L54), I was able to compile and run the program. This was tested with Antergos and CMake 3.8.0. I will continue to look into the issue this week.

[2017-05-17 20:23] mikeanthonywild opened #126 "Feature proposal: IMAP sync"
Currently I'm able to sync my email, contacts, reminders, calendars and notes across all my devices without using any proprietary services / applications. The missing piece is accessing notes on elementary.

I understand this leverages markdown quite heavily (I'm not sure how formatting in IMAP-based notes is achieved - I'd guess some limited subset of HTML like regular email?), so I'm not sure if

[2017-05-18 02:19] ross-miller opened #127 "Closing Preferences closes application"
Notes-Up closes when I push the Close button in the preferences menu.

[2017-05-19 10:22] blixuk opened #128 "Feature Request: Export to epub"
Would be awesome to be able to export to epub as well as pdf,

[2017-05-20 07:43] alx901 commented on #1
Install Notes-up 1.3 from Loki 0.4.1 from AppCenter.
Not worked export to PDF.  Created file in Zerro byte size.
Please fix this very important functions.

[2017-05-22 11:07] UsuiNatsuo opened #129 "Feature request: Text editor tools"
The app is great, but I feel like it's missing some simple text editing tools like a button to change the fonts, or a button to change the text alignment.
Thanks!

[2017-05-23 08:20] ajiyakin commented on #70
I think it would be easy if the notes stored in `.md` file :thinking:

[2017-05-23 16:15] Philip-Scott commented on #70
@ajiyakin it's actually a database... So it's not that trivial

[2017-05-26 07:14] Jhacker666 opened #130 "I can not erase notebooks"
They go to the bin but they do not go away, and then when I start the application again, it restores without my command the nootebooks

[2017-05-31 11:02] blixuk opened #131 "Feature Request: Export / Save whole notebook"
It would be awesome to export / save a whole note book or it's sections.
That way you can break notes up and then have them all together when they need to be shared.
Saving them as an epub and being able to export them as markdown files.

[2017-05-31 14:12] snowparrot opened #132 "Better documentation"
After 10 minutes I cant enable syntax highlighting so I assume Notes-Up needs better documentation for its features.

P.S.: Can someone give me an example to activate syntax highlighting?

[2017-06-04 22:16] yerbestpal commented on #115
Oh, are you planning on addressing this? I actually thought this was an issue with Markup its self, and not something you could fix.

[2017-06-06 03:00] Philip-Scott commented on #127
Fixed on the last commit :) Will be pushing an update to AppCenter in the next few days

[2017-06-06 03:00] #127 closed

[2017-06-06 03:04] Philip-Scott commented on #43
Closing since the API has been done :)

[2017-06-06 03:04] #43 closed

[2017-06-06 14:23] snowparrot opened #133 "no support of Java in syntax highlighting"
The following code doesnt activate syntax highlighting:

if  (cursor.moveToFirst()){
   do{
      String data = cursor.getString(cursor.getColumnIndex("data"));
      // do what ever you want here
   }while(cursor.moveToNext());
}
cursor.close();

Edit: Of course I put highlight, ´´´java etc. around the code but if I do in github it sees my example as code :P

[2017-06-07 13:14] megatux opened #134 "Feature request: Cloud backup"
I try to avoid apps that do not _auto-save/backup_ on the cloud. G.Drive, Dropbox or OneDrive. This probably should be an integrated service on the OS but in the meantime I guess it could be done independently.

[2017-06-10 15:54] nick87720z opened #135 "LICENSE"
I found two projects with same name and meaning: this one and at launchpad:
https://launchpad.net/maya

Though second one seems to be slightly outdated, than your, it is licensed under GPL-3.

[2017-06-10 17:21] Philip-Scott commented on #135
You mean this one? https://launchpad.net/notes-up

That one is also this project. It auto-imports from here to build for it's PPA

[2017-06-11 22:13] #135 closed

[2017-06-15 07:55] demonpig commented on #25
Sorry that I have not been working on this. I will back around to working on this next month.

[2017-06-24 20:06] proxycyber commented on #134
Agreed. Can I ask how you'd manually back up notes, though? I can't seem to figure it out.

[2017-06-24 20:09] proxycyber opened #137 "Question: Is there a way to manually back up your entire notbook or selected notes?"
Is there a way to manually create a backup file of all of your notes and notebooks? Really important to me.

[2017-06-24 21:36] Philip-Scott commented on #137
the whole database is stored on `/home/YOURNAME/.local/share/notes-up/NotesUp.db` Currently there isn't a way to export your selection, but i want to work on that during this summer :)

This is the Notes Management Project https://github.com/Philip-Scott/Notes-up/projects/2

[2017-06-24 21:38] Philip-Scott commented on #131
Closing since it's a dup of: #113 :)

But yes, it's coming:
https://github.com/Philip-Scott/Notes-up/projects

[2017-06-24 21:38] #131 closed

[2017-06-24 21:40] Philip-Scott commented on #134
Closing since it's a dup of #70. I would love to, but sadly i don't think there's an API for those, and i also wouldn't want to force someone into using a certain platform.

the `/home/YOURNAME/.local/share/notes-up/NotesUp.db` file has your notes, so you could back that up with your favorite service for now :)

[2017-06-24 21:40] #134 closed

[2017-06-24 21:41] Philip-Scott commented on #137
Closing in favor of #113

[2017-06-24 21:41] #137 closed

[2017-06-27 00:47] Juankz opened #139 "Task lists"
I would love to have the markdown task list in Notes-Up:

[code]
- [x] This is a complete item
- [ ] This is an incomplete item

[2017-07-06 00:42] Hedronmx opened #140 "Feature Request: Standard Notes Integration"
Your app is amazing and it would be totally killer if you added Standard Notes integration. The ui of your app is very similar to Standar's and it would be really nice if we could sync the note to the cloud.

Thanks for your great work!!

[2017-07-09 04:51] marcos-90 commented on #1
I'm having the same issue. Always getting the 0 bytes file when exporting to PDF.

[2017-07-09 04:54] Philip-Scott commented on #1
@marcos-90 Please tell me more about your system. Such as what language are you using :)

Also, can you run `apt-cache policy libwebkit2gtk-4.0-dev` and `apt-cache policy libwebkit2gtk-3.0-25` and post here the full output? Thanks

[2017-07-09 04:56] Philip-Scott commented on #1
@marcos-90 sorry, `apt-cache policy libwebkit2gtk-4.0-37` as well :)

[2017-07-09 05:12] marcos-90 commented on #1
Ok! (that was fast!! :) )

I'm using elementary os, 0.4.1, Loki in Spanish (Latin America). The only difference is that I installed the latest stable kernel in the ubuntu repos. I'm using kernel 4.11.2-041102-generic. I didn't change the repos or anything like that, i downloaded the kernel packages and installed them.

I installed the app using the software center.

libwebkit2gtk-4.0-dev:
  Instal

[2017-07-09 13:29] harisvsulaiman opened #141 "Redundant Notes icon in applications menu"
![image](https://user-images.githubusercontent.com/29329325/27994307-bedffc8e-64d8-11e7-84c6-60eff98bebdd.png)

[2017-07-09 16:47] Philip-Scott commented on #141
You might have compiled an older version of notes-up before :) The one on AppCenter changed the name of the .desktop file.

Try removing that icon with `rm /usr/share/applications/notes.desktop` or notes-up or something like that... don't remember the exact name off the top of my head

[2017-07-09 16:47] #141 closed

[2017-07-09 17:03] harisvsulaiman commented on #141
@Philip-Scott No,I did not compile notes up myself. Uninstalling notes up from app center and restarting wing panel got rid of the redundant icon.

There is no .desktop file at  `rm /usr/share/applications/notes.desktop`

[2017-07-09 17:04] Philip-Scott commented on #1
Hey! There we go! :D I'm finally able to reproduce it! Looks like non-English languages break "printing" on the app

[2017-07-09 17:14] Philip-Scott commented on #141
Maybe you just had an older version from before the change :) But glad it's gone

[2017-07-09 18:14] Philip-Scott commented on #1
@everyone I was able to get it fixed in Spanish. Sadly, this requires translating a line of text

https://github.com/Philip-Scott/Notes-up/commit/000b3581b7deb8296dec734639707478e232698a#diff-9427b2497682f9189e9ffae2687f88bfR42

If anyone can help doing the translations of this line like on the link above, you'll be able to fix it for everyone on your language!

You can get the correct text for yo

[2017-07-10 13:42] marcos-90 commented on #1
For me i'ts working perfectly now! Great work! :D

I don't know much about coding, but I'll try to help with the things I can.

[2017-07-11 11:54] kostrykin opened #142 "Where do we find the Plugins configuration?"
Obviously, at least from version 1.3.1 on, plugins appear to be available. I am using version 1.4.3. But where do we find the Plugins configuration? I mean, where are they enabled, disabled or just listed? There is no such point in the settings menu of Notes-up.

[2017-07-11 12:19] Philip-Scott commented on #142
All plugins are enabled by default, and there's actually no configuration needed. They will just get loaded when you use them.

You can see how to use them by opening the Help sidebar, or some plugs even have a button on the toolbar such as the Color and the Page Break items :)

![screenshot from 2017-07-11 07 14 32](https://user-images.githubusercontent.com/10786508/28067854-9f79feae-6608-11e7-9f

[2017-07-11 12:31] #142 closed

[2017-07-15 00:03] fppaess commented on #132
![screenshot from 2017-07-14 21 02 05](https://user-images.githubusercontent.com/12243928/28234595-c558d38a-68d7-11e7-9e22-7956ce67484f.png)
![screenshot from 2017-07-14 21 02 21](https://user-images.githubusercontent.com/12243928/28234594-c556ad08-68d7-11e7-99af-5767cd06781c.png)

[2017-07-17 02:47] demonpig commented on #25
Got an initial script that will build an AppImage for Notes-Up. This is still experimental as I need to figure out what dependencies need to be bundled with the image.

[2017-07-17 16:55] probonopd commented on #25
@demonpig can I have a look at your script? Where is it?

[2017-07-18 02:16] demonpig commented on #25
@probonopd The AppImage is built on Elementary OS 0.4.1.

Link: https://github.com/demonpig/AppImages/blob/add_notes-up/recipes/notes-up/Recipe

[2017-07-18 06:23] probonopd commented on #25
Have a look at linuxdeployqt. It works on non-Qt applications, too, and copies in the required libraries for you. https://github.com/probonopd/linuxdeployqt

[2017-07-19 01:47] demonpig commented on #25
@probonopd I wonder if I am doing something wrong with the linuxdeployqt program as it did not copy any required libraries into the AppDir directory. What i did notice is that it took care of setting up the AppRun, desktop file, and application icon. Once the linuxdeployqt program was done running, I ran the appimagetool to create the app image. But the AppImage does not run since Notes-Up will fa

[2017-07-19 06:49] JamesTiberiusKirk opened #143 "Backup help needed"
Hi,
I know that you are about to implement a import/export feature, however, I need a quick and dirty fix right now. I am about to swap my laptop and I was wondering if there is a way to just backup a database file of some sort then throw it onto the new laptop.

Thanks in advance.

[2017-07-19 15:36] worldofpeace opened #144 "Can I delete Pages within a Notebook?"
#### I currently can not find a way to do so. I only see functionality to delete notebooks not pages within notebooks.

My natural inclination is to right click a page and see a delete option.

[2017-07-19 15:39] Philip-Scott commented on #144
You can only delete pages in Edit mode. That way you can't accidentally remove them while viewing them :)

![screenshot from 2017-07-19 10 39 18](https://user-images.githubusercontent.com/10786508/28375961-88c3ae6e-6c6e-11e7-94d0-d2c550cda75c.png)

[2017-07-19 15:39] #144 closed

[2017-07-19 15:43] Philip-Scott commented on #143
Hey! :)

Depending on when you first installed the app, the database is located in either `~/.local/share/notes-up/` or `~/.local/` and it's named NotesUp.db.

You should be able to copy that file, and add it to `~/.local/share/notes-up/NotesUp.db` on your new machine.

Feel free to ask if you have any questions!

[2017-07-19 15:43] #143 closed

[2017-07-19 15:44] Philip-Scott commented on #132
There's also a help button where you can access the features it has in the Edit View's toolbar

[2017-07-19 15:44] #132 closed

[2017-07-19 15:46] worldofpeace opened #145 "Notes should be removed from notebook list as soon as they are deleted."
When I delete a note I can still see it in my notebook as a page.

[2017-07-19 15:48] worldofpeace commented on #144
Makes a lot of sense to have it there because of the workflow you have created.
You have the best apps in appcenter hands down. :+1:

[2017-07-19 15:48] Philip-Scott commented on #130
Sorry, i can't confirm that it's not working as intended. They will stay in the bin until you close the app to give you time to restore it

[2017-07-19 15:48] #130 closed

[2017-07-19 15:53] Philip-Scott commented on #145
Right :) And also view a notebook when you delete it. Pages and Notebooks are removed once you exit the app. This is by design so that things are not deleted right away and give you time to finish up with the doc

[2017-07-19 15:53] #145 closed

[2017-07-19 15:55] Philip-Scott commented on #140
duplicate of #70. The problem with online syncing is that there is no one service everyone uses.... I just leave it up to the user to use the platform of your choice to backup your DB file

[2017-07-19 15:55] #140 closed

[2017-07-19 19:04] JamesTiberiusKirk commented on #143
Thanks a lot!!
Found it in ~/.local/share/notes-up/

[2017-07-19 19:06] JamesTiberiusKirk commented on #143
Maybe make the db file location be an option in preferences.
It would be cool if i could place it inside my documents folder which is constantly being synced to my nextcoud server.

[2017-07-19 20:02] Philip-Scott commented on #143
You can change that value yourself by opening dconf. It's located in org > notes > notes-database :)

[2017-07-19 21:15] JamesTiberiusKirk commented on #143
Again, thanks a lot!

[2017-07-19 21:30] Philip-Scott commented on #143
Any time :)

[2017-07-21 12:44] snowparrot commented on #133
@Philip-Scott Hey, maybe a better bug solution. Neither "java" nor "Java" are supported. You can the header of the bug report.

[2017-07-23 10:10] Mailaender commented on #119
Is it possible to use an external discount or libmarkdown instead of bundling it?

[2017-07-23 12:30] LievenHanssen opened #147 "Add a keyboard short cut to switch between view and edit mode"
As far as I can tell there is no way to do this. If not, my apologies for reporting this as an issue.

When typing it's very handy to quickly switch between your notes and checking if you didn't make any mistakes in your markdown and everything is still looking fine. Then quickly switching back to where you were. For this feature to be useful, it's paramount that when one would switch from _edit_

[2017-07-23 12:39] LievenHanssen commented on #70
I use SpiderOak to synchronize all my files, so for me and anyone who is using Dropbox or Box or any other similar cloud service, being able to choose where you'd want to store this database in the _Preferences_ menu would be enough to easily synchronize our notes, without having to use dconf-editor.

[2017-07-24 01:47] proxycyber opened #148 "Can't find a way to back up notes"
Is there a way to backup notes? Not individual notes, but is there a backup file that we can manually export so that let's say we export notes from date x to date y, we go on another computer, install Notes-up and import that backup file so all notes stay intact?

Or is there a database file that we can backup without it getting corrupt? I believe I tried it once and when putting it back, it was u

[2017-07-24 02:48] Philip-Scott commented on #148
Check this out: https://github.com/Philip-Scott/Notes-up/issues/143

But yeah, i think i'll add a way to open the folder where it's located, and be able to change it

Coping and pasting that file shouldn't cause a problem though

[2017-07-24 03:31] proxycyber commented on #148
Thanks, @Philip-Scott! :+1: So, can you please let me know if this counts?

I copied the **.notes-up.db** file from /local/share/Notes-up to my home folder. Uninstalled Notes-up, re-installed it. No notes saved. Copied the database file I saved on my Home folder to the local Notes-up folder and all notes stay back! This makes me happy, but I wonder if it'd work if I backed that file up to the clou

[2017-07-24 04:13] Philip-Scott commented on #148
New images are stored on the DB file now :) If in the edit mode, the "image" looks something like: `<image 1>` it means that it's stored on the database. If not, it's because it was added in drag and drop, or before storing images was implemented.

As long as you don't use the app on multiple computers at the same time, or before it syncs you won't have a problem :)

[2017-07-24 04:15] proxycyber commented on #148
@Philip-Scott, nice, thank you! This is seriously the best tool in the history of the universe. I'm going to try to tell more people about it. I came to Elementary just to use this tool. Can't wait to see its growth, thanks for the hard work!

Oh, no, I don't use sync features usually, would just download them locally. I only use one machine, so was just using that as an example in case my hard dr

[2017-07-24 21:29] LievenHanssen opened #149 "Selected text not highlighted when using one of the Quilter themes"
When in one of the Quilter themes, either _Quilter_ or _Quilter Dark_, selected text won't be highlighted. In any of the other themes, this is not the case, selected text is highlight like it usually is.
In the program Quilter itself I can't seem to reproduce this bug. I've made a [short video](https://youtu.be/n7YHB8arbM8) which you can watch to see how the different themes affect the highlightin

[2017-07-24 21:46] Philip-Scott commented on #149
This is a problem with Quilter, and the custom styles it's using. (The Quilter theme also doesn't work in Scratch-text editor for example)

Please report it there :) Thanks!

[2017-07-24 21:46] #149 closed

[2017-07-25 17:02] snowparrot opened #150 "pdf export creates empty file"
Following text creates an empty pdf file during export:

Couchsurfingtext

Hey, my name is Yuny from Germany. I'm 22 years old and a math student.

[2017-07-25 17:05] snowparrot opened #151 "delete empty pages after closing the app"
Delete an empty page after closing the application.

it makes the notebook cleaner. Empty pages arent important for the user
because they have no content.

[2017-07-25 17:47] Philip-Scott commented on #150
To get this to work on your language, i need your help :) Can you follow what this says, and send me a screenshot of your print dialog? Thanks!

https://github.com/Philip-Scott/Notes-up/issues/1#issuecomment-313936098

[2017-07-25 18:43] psylock opened #152 "printing markdown"
for now, i can't print any note. ctrl + P doesn't work. i can't print the pdf version, since the pdf export is empty.

[2017-07-25 19:10] Philip-Scott commented on #152
I'm guessing your computer is not in English ;)

To get this to work on your language, i need your help :) Can you follow what this says, and send me a screenshot of your print dialog? Thanks!

https://github.com/Philip-Scott/Notes-up/issues/1#issuecomment-313936098

[2017-07-25 19:13] kostrykin commented on #152
Export as PDF doesn't work for me either, the PDF is just of 0 byte in size. In that case, you also need that screenshot? I haven't tried printing and my system localization is German.

[2017-07-25 19:44] Philip-Scott commented on #152
@kostrykin Yes please :)

But the printing you can get it from any other app, preferably try printing an image

[2017-07-26 01:15] proxycyber opened #153 "Feature Request: Change Font Size"
I think it'd be useful if we could change font size or at least font spacing. The whole thing seems too centered, I'd like to use up more width and less length in a note.

[2017-07-26 09:05] kostrykin commented on #152
Hope this helps.

![print](https://user-images.githubusercontent.com/6557139/28613313-5c591808-71f2-11e7-9cbf-2534f6f12dc5.png)

[2017-07-26 11:18] JamesTiberiusKirk opened #154 "Could I please get some help with installing this on Ubuntu 17.04"
Hi, I just switched to Ubuntu Gnome 17.04, and this application is just way to damn useful to give up.
**I have tried:**
- Installing from the PPA
the PPA 404s
- Downloading .deb from the PPA
It tells me I don't have libgranite3 and I have not found a way to install it.
output:
https://pastebin.com/2xtzipgb
- Compiling from source
output:
https://pastebin.com/U79wycA4
log file:
https://pastebin.co

[2017-07-26 12:34] kostrykin commented on #154
There [appears to be a build of libgranite for 17.04](https://launchpad.net/granite/+packages) though I cannot find any PPA which provides it. Still, you should be able to download and install it manually.

[2017-07-26 13:50] psylock commented on #152
![capture d ecran de 2017-07-26 15-47-31](https://user-images.githubusercontent.com/21148874/28624650-0efe9bc8-721a-11e7-8e37-3bc53fbcc347.png)
This one ?

[2017-07-26 15:31] onirica commented on #150
I just committed a change that solves the issue for german desktops - because I had the same problem. Just three lines in the translation file do the trick.

[2017-07-26 16:25] Philip-Scott commented on #150
Yup :) Thank you very much!

[2017-07-26 16:25] #150 closed

[2017-07-26 16:27] Philip-Scott commented on #152
@psylock What language are you using? :)

@kostrykin It's been fixed in master, you'll get the update soon in AppCenter :)

[2017-07-26 16:28] Philip-Scott commented on #154
@JamesTiberiusKirk Try compiling libgranite from source :) https://github.com/elementary/granite/

[2017-07-26 16:35] psylock commented on #152
@Philip-Scott fr_fr :)

[2017-07-26 16:41] Philip-Scott commented on #152
@psylock If you want to fix it yourself, you should do what this other guy did here, but to the fr.po file: https://github.com/Philip-Scott/Notes-up/pull/155

If not i'll just do it during the week, but if you could do it and test it yourself that would be awesome and a lot of help!

[2017-07-26 17:13] psylock commented on #152
unfortunately, my make command block on Notes Up since a few weeks :
`make[2]: ***  Aucune règle pour fabriquer la cible « libmarkdown.a », nécessaire pour « notes-up ». Arrêt.`
do you see how to fix that ?

[2017-07-26 17:33] JamesTiberiusKirk commented on #154
Just did that, it still kicks off the same errors.

[2017-07-26 18:02] kostrykin commented on #154
You installed it after compiling?

[2017-07-26 18:06] JamesTiberiusKirk commented on #154
Yeah, the app got removed after this.
`sudo apt-get install --fix-broken`
Then tried to reinstall Notes-up with the deb and to compile it from source. Same story.

[2017-07-26 20:40] Philip-Scott commented on #154
delete the build directory, and type `-Dnoele=1`  after cmake :)
you're going to have to compile it yourself, are you sure you have installed all the other dependencies?

[2017-07-26 20:59] Philip-Scott commented on #152
Fixed on the languages mentioned here. But closing since it's a duplicate of #1. Thank your for everyone's help!

[2017-07-26 20:59] #152 closed

[2017-07-27 00:25] demonpig commented on #154
@JamesTiberiusKirk The following is a script that I wrote to build Notes-up on Ubuntu 17.04 (Unity DE not Gnome DE).
[code]

To run the application, just run the following command:
`./build-notes-up.sh --run`

Please just use this script as a reference.

[2017-07-27 07:05] JamesTiberiusKirk commented on #154
@Philip-Scott `-Dnoele=1` after worked, thanks a lot!

@demonpig  Your script works on Ubuntu Gnome too, there should be no difference anyway.

[2017-07-27 13:30] onirica commented on #154
There should be no need to compile granite for Ubuntu 17.04. There is a package libgranite-common (0.3.0) and also libgranite-dev (if you want to compile) in the universe repository. You probably just need to activate the repository and reload the package list.

Installing Notes-Up on Ubuntu 17.04 is not the problem. But it doesn't run as long as contractor isn't installed and this one is missing

[2017-07-27 15:36] Philip-Scott commented on #154
@onirica Compiling with the `-Dnoele=1` disables the elementary OS only features like contractor, so if you compile it with that flag you will be able to run it outside of the elementary ecosystem :)

I'm keeping this issue open for now until i add a wiki entry about building on another distro. If @demonpig doesn't mind i'm to use his script there

[2017-07-27 17:52] onirica commented on #154
That is really good to know! Will try that.

[2017-07-28 08:31] JamesTiberiusKirk commented on #154
@Philip-Scott What exactly is this contractor anyway?
And is `-Dnoele=1` a universal thing for elementary os apps?
Because there's also some other slick software in there that would be useful.

[2017-07-28 16:03] Philip-Scott commented on #154
@JamesTiberiusKirk No, that's just a thing for Notes-Up atm. Contractor allows for file-sharing within applications. For example: elementary's mail app has a contract for sending a file in an email, and any app can access that functionality very easily.

Everything bellow the gray line are contracts on my machine that are working with Notes-Up :)

![screenshot from 2017-07-28 11 01 20](https://use

[2017-07-28 16:06] JamesTiberiusKirk commented on #154
ah! ok i see

[2017-07-30 17:53] Philip-Scott commented on #154
I added @demonpig's script on https://github.com/Philip-Scott/Notes-up/wiki/Build-and-Install-on-Ubuntu-17.04, so i'm going to close this for now :)

[2017-07-30 17:53] #154 closed

[2017-07-31 02:32] OriginalFannibal opened #157 "File Storage?"
Where exactly are the files stored locally? I would like to be able to backup my notes and even import them back in, in case I switch systems or reinstall.

[2017-07-31 02:33] OriginalFannibal commented on #157
Sorry about not checking closed issues before opening this one. Found the answer :)

[2017-07-31 02:33] #157 closed

[2017-07-31 03:03] Philip-Scott commented on #157
Thank you for closing it once you found it :) You're a great person!

But yeah, i wanna add a way to open Files into the folder it's located. I'm planning on working a couple of things, but working out the UX first

[2017-07-31 13:15] OriginalFannibal commented on #157
Haha, thanks :)
But seriously, thank you so much for this amazing app! I love it so much!

[2017-07-31 13:30] OriginalFannibal opened #158 "Support for a folder structure"
I don't know if this is part of the import/export feature that is in the works but could it be possible to offer a directory mode where you open a directory with it and all its subdirectories acting as notebooks and sections?

That's how I had things set up on Atom and it is an immensely portable setup, even for systems where I cannot have access to Notes Up. What I am asking is if the database th

[2017-07-31 15:38] Philip-Scott commented on #158
That's actually how it used to work before, but sadly it's management it was not very scalable for when you had many notes. (And things like moving was much more dangerous and destructive, as files with the same name got deleted) And now with the database i'm also storing things such as the creation and modification date, as well as stylesheets per notebook and many other things like images you im

[2017-07-31 15:38] #158 closed

[2017-07-31 15:53] OriginalFannibal commented on #158
That would be amazing!

[2017-07-31 15:59] Philip-Scott commented on #153
the way Markdown works is by using CSS to style your notes. You can modify this "stylesheet" per notebook¸ or for the whole app by either opening the notebook's preferences or the app's, and going to the style section.

Here, you put the style rules you want, so if you wanted your paragraphs with a font size of 16px, it would look like:

![screenshot from 2017-07-31 10 44 36](https://user-images.g

[2017-07-31 16:02] Philip-Scott commented on #158
Yeah, i have quite a bit of plans, i just need time :disappointed:

Right now i've been working on making [Spice-Up](https://github.com/Philip-Scott/Spice-up) more feature complete since Notes-Up is pretty good atm :)

[2017-07-31 16:08] Philip-Scott commented on #139
I could make `- [ ]` turn into a checkbox, but with the way Notes-Up and markdown works if you click on the checkbox it wouldn't save it's state. So i'm not sure how useful that would be

[2017-08-01 01:32] OriginalFannibal commented on #158
I know this isn't really the place for a conversation but I needed to say this. You've been doing an absolutely phenomenal work. Take all the time you need. It's worth it :)

[2017-08-01 02:17] Juankz commented on #139
Well at least esthetically it would be nice feature. And could be something no click-able to avoid confusion, for example :heavy_check_mark:

[2017-08-01 03:13] OriginalFannibal opened #159 "Focus Mode"
This is the only thing I miss from Atom. Though even there it was the brilliant [Zen](https://atom.io/packages/Zen) plugin that made it possible and not the app itself.

Basically, it lets you go fullscreen, hiding all menus and options, letting you focus exclusively on your writing. The screenshots in the link do a good job of explaining what this mode would be about. It could be toggled on and o

[2017-08-01 04:03] lokesh-krishna opened #160 "Search Within A Note"
So sorry about opening so many issues :see_no_evil:

Could it be possible to implement the kind of searching within notes that we use in browsers? Highlighting each occurrence of a term within the note and letting you cycle between them by using the Enter key or something along those lines.

[2017-08-01 07:11] OriginalFannibal commented on #64
Could the `spell checker` extension for Scratch be of any use here?

[2017-08-02 00:24] demonpig commented on #119
I have an open [pull request](https://github.com/Philip-Scott/Notes-up/pull/123) where discount is added as an git submodule instead of being bundled with the Notes-up source code.

Outside of that, I don't think it is going to hurt anything. Will have to change the deb packaging config and the CMakefile.

[2017-08-02 08:24] proxycyber commented on #160
Agreed! Would be useful.

[2017-08-02 21:45] proxycyber opened #161 "Request: Don't Show Markdown in List Preview"
You know how there's a left column that has a list of all entries? I really wish that, for example, the first line of my actual entry was a header, the preview in the item list did not show #*** and so on. I just think it makes it seem more messy, to be honest and I love this app overall, I just wish there was an option to remove that markdown symbols from the preview. If it's not in the entry whe

[2017-08-02 22:03] proxycyber opened #162 "Feature Suggestion: Drag N' Rearrange"
In the List View, it'd be cool if we could freely drag items above or below each other, say for example custom order list view.

[2017-08-03 00:39] proxycyber commented on #153
Thanks! :+1:

[2017-08-03 00:49] #153 closed

[2017-08-03 00:49] Philip-Scott commented on #153
No problem :)

[2017-08-04 03:21] OriginalFannibal commented on #161
Simplenote offers this option in the form of a condensed view. I was considering opening a separate issue for it. @Philip-Scott Do you recommend opening a separate issue for that or will this one suffice?

[2017-08-04 04:10] Philip-Scott commented on #161
@OriginalFannibal What Proxy said about the markdown _is/could be_ a bug, but about having a "condensed view"... I don't know if i would want to have that as an option.

Basically:

Maybe there could be a way to edit it instead, or get the preview in a smarter way instead of the second line

[2017-08-04 13:08] proxycyber opened #164 "Can't find a way to insert videos"
If I understand correctly, the Plugins project has to do with Notes-up? If so, how can I configure these things? For example, inserting a video.

[2017-08-04 13:49] dcharles525 commented on #164
You use to be able to insert an Youtube video but i don't know where the option went. It seems to be disable for the moment.

[2017-08-04 14:58] Philip-Scott commented on #164
Yup :) It's all in the help area. All available plugins are enabled, and are only loaded when you actually use them

`<youtube [Link]>` without the `[]` of course ;)

[2017-08-04 14:58] #164 closed

[2017-08-04 16:35] Philip-Scott commented on #162
duplicate of #23

Sadly, it's a bit harder to do since the ListBox doesn't really support Drag N Drop :/

[2017-08-04 16:35] #162 closed

[2017-08-04 17:26] Philip-Scott commented on #161
Fixed in 2e3bc7f

[2017-08-04 17:26] #161 closed

[2017-08-04 17:30] Philip-Scott commented on #133
Interesting. I just pulled a new version of [Highlight JS](https://highlightjs.org/download/) while making sure Java was selected, and it also didn't work :disappointed: It's probably a problem with Highlight Js + Webkit like #115

For now, try using `c` or `c++` as the language name.

Closing this as a Duplicate of #115

[2017-08-04 17:30] #133 closed

[2017-08-04 17:33] Philip-Scott commented on #52
Closing in favor of https://github.com/Philip-Scott/Notes-up/wiki/Build-and-Install-on-Ubuntu-17.04

[2017-08-04 17:33] #52 closed

[2017-08-04 17:34] #77 closed

[2017-08-04 17:36] Philip-Scott commented on #109
Looks like it's fixed :) I can't reproduce it anymore on the latest version from AppCenter.

If you can still reproduce open this ticket again

[2017-08-04 17:36] #109 closed

[2017-08-04 17:37] Philip-Scott commented on #126
duplicate of #70, but it probably won't be IMAP, sorry

[2017-08-04 17:37] #126 closed

[2017-08-09 09:48] NicoHood commented on #52
Thanks. Its working fine now, I've published the package on AUR:
https://aur.archlinux.org/packages/notes-up/

[2017-08-10 11:28] akasharora777 opened #166 "Cannot Launch Notes-Up"
`$ notes-up

** (Notes:6055): CRITICAL **: enotes_pages_list_load_pages: assertion 'notebook != NULL' failed
Segmentation fault (core dumped)
`

[2017-08-10 15:56] Philip-Scott commented on #166
Are you use you're using the newest version? This should have been fixed already :)

There's a `if (notebook == null) return;` in https://github.com/Philip-Scott/Notes-up/blob/0111ca47096b8d3a18866f28f21426f39e815a51/src/Widgets/PagesList.vala#L181

[2017-08-10 16:01] akasharora777 commented on #166
i actually got a work around it
saved the database
purged and then re-installed it this time using the elementary OS's App Center
Current Version 1.3

There is just a UI bug with the delete thing, rest is smooth
Anyway, great job with the application
Really Loved It!

[2017-08-10 16:02] Philip-Scott commented on #166
Where did you install it from before? And what UI bug? :)

[2017-08-10 16:08] Philip-Scott commented on #166
Woops, i know what happened. Looks like you installed `notes-up` from my ppa instead of `com.github.philip-scott.notes-up` Both packages still exist in the old PPA, but the com... is the newest one. I've updated the readme with the new info :)

[2017-08-10 16:16] akasharora777 commented on #166
![notes-up](https://user-images.githubusercontent.com/20777462/29180315-0ef9b336-7e15-11e7-8598-0675ee3d00cf.png)
UI Bug^^
Deleted still shows until I quit and restart the application.

Yes, i added the ppa earlier.

[2017-08-10 16:17] Philip-Scott commented on #166
Yeah, that's by design :) Things are only actually deleted once you close the app.

Closing this report btw. Thank you for reporting the issue

[2017-08-10 16:17] #166 closed

[2017-08-10 16:20] akasharora777 commented on #166
Great Work! :)

[2017-08-13 04:04] proxycyber commented on #64
Any updates on this? Spell check would be super useful.

[2017-08-13 23:38] Philip-Scott commented on #64
No, I've decided not to add this. Sorry

[2017-08-13 23:39] Philip-Scott commented on #64
Nah, i'm joking :smile:

It's been just pushed to master: https://github.com/Philip-Scott/Notes-up/commit/2f566324c5a63bb3bf597bdc1008279b1d103ea0 and will be out on AppCenter soon :)

[2017-08-13 23:39] #64 closed

[2017-08-13 23:41] proxycyber commented on #64
Lol! That's great. :) Can't wait for this.

[2017-08-15 23:17] truscellino commented on #70
I guess that would be a massive undertaking, but what about web-based editing (like evernote, laverna...)? There might be other potential users like me who don't have permanent access to their elementary OS machine all the time, which means they can't access their notes? At least for users who run their own web servers and could host their own sessions...

[2017-08-16 00:36] Philip-Scott commented on #70
@truscellino The database schema is there, and also the code with how everything works. If anyone wants to take up that challenge, i will gladly help and explain them how the app and the database works :)

[2017-08-16 15:24] appcenter[bot] opened #167 "Failed to build with liftoff"
AppCenter failed to build with liftoff.

<details>
<summary> Build Log </summary>

[code]

</details>

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [1.4.6 release](https://github.com/Philip-Scott/Notes-up/releases/tag/1.4.6)

[2017-08-16 15:29] #167 closed

[2017-08-16 23:04] dcharles525 commented on #70
Maybe just a option to change the save path of the database and save it to a synced folder of your choosing?

I would be willing to dedicate a little time to building a server side API if @Philip-Scott rather go the super custom route instead of having to rely on other services.

[2017-08-16 23:15] Philip-Scott commented on #70
@dcharles525 That's very kind of you, but sadly only half of the problem. It would still need to be secure, buy and pay for hosting, and make sure that the server never falls because it could cost people their information.

There's already an option to set the save path, you can access and change it from dconf on /org/notes :)

[2017-08-16 23:41] dcharles525 commented on #70
Digitalocean might sponsor the project and handout a free VPS. They sponsor other projects I know. As for the server maintenance and such might be a difficult task to handle if your user base exploded ( which I know it will/is :) ).

I was thinking a setting in the UI where you could redirect the saving location.

[2017-08-16 23:49] Philip-Scott commented on #70
@dcharles525 about the saving location, you might be interested in following #148. I want to add it to the settings dialog, but i'm still not sure on the best way to do so without allowing the user to "loose" their notes

[2017-08-19 07:34] ultraviolet-1986 opened #168 "1.4.7 not opening after installing from elementary appcenter"
Upon installing this and finding it not responsive, I tried the command 'notes-up' and it output the following:

**[INFO 08:33:05.383417] Application.vala:153: Notes-Up version: 1.3
[INFO 08:33:05.383449] Application.vala:155: Kernel version: 4.10.0-32-generic
**
ERROR:/build/com.github.philip-scott.notes-up-1.4.7/src/Services/DatabaseTable.vala:73:database_table_prepare_db: assertion failed: (res

[2017-08-19 13:50] proxycyber opened #169 "Any plans to introduce a tagging feature?"
Are there any plans to introduce a tagging feature for notes?

[2017-08-19 14:24] Philip-Scott commented on #168
Just to be sure, The command is not notes-up, is `com.github.philip-scott.notes-up`. did you add the PPA?

[2017-08-19 21:04] sschuhmann commented on #70
Maybe syncing with smtp accounts like apple notes for example would be a good starting point.
As far as i know evolution does this already, so it might be easy to implement

[2017-08-20 11:50] sschuhmann opened #171 "Icon size"
Would it be possible to use an icon which fits better to the default elementary style icons compared in size?

The current icon is higher than all other icons.

![screenshot from 2017-08-20 13 49 06](https://user-images.githubusercontent.com/7888383/29494615-7a34561a-85ae-11e7-9f1d-f4df4e74034b.png)

[2017-08-20 17:14] Philip-Scott commented on #171
This is actually not a problem since it's the same size as the other tall icons:

![screenshot from 2017-08-20 12 10 22](https://user-images.githubusercontent.com/10786508/29496846-9232c0c0-85a0-11e7-9685-cab52e4afd1a.png)

It's even documented in https://elementary.io/docs/human-interface-guidelines#composition on the exceptions part :)

[2017-08-20 17:14] #171 closed

[2017-08-20 19:07] sschuhmann commented on #171
Thanks, did't know there are app icons in different sizes

On So, Aug 20, 2017 at 7:14 , Felipe Escoto <notifications@github.com>
wrote:

[2017-08-22 12:04] ultraviolet-1986 commented on #168
Hi, no I didn't add the PPA - I just checked `software-properties-gtk` to check and there is no PPA present. I installed it using the elementary appcenter > office > curated apps section. The command you gave me above says `com.github.philip-scott.notes-up: command not found`. Thanks, and sorry for taking so long to respond.

[2017-08-22 12:19] Philip-Scott commented on #168
Did you used to use Notes-Up before? It appears to be failing on database creation: looks like it can't create a file on /home/your-user/.local/share/notes-up/, or it doesn't have permissions. Can you check that for me? :) Thanks

[2017-08-23 07:03] ultraviolet-1986 commented on #168
Hi, you're right - creating the folder in this location fixed this. My install was getting heavy so I uninstalled everything but the base apps and removed configs, cache and files manually to reinstall the apps I use fresh without having to re-image the machine.

So it was my bad, sorry ^_^b

Looks like this can be closed, but it should have permission to create the directory and database, but lik

[2017-08-23 13:31] ultraviolet-1986 commented on #168
Hi, just tested another machine and also a VM and it starts without an issue - setting this as closed. Looks like I broke something before. Thanks again!

[2017-08-23 13:31] #168 closed

[2017-08-23 14:39] Philip-Scott commented on #168
No problems :) Glad you got it fixed!

[2017-08-24 19:46] RTbecard opened #172 "Feature request: Latex equation support"
Is this already implemented, or being planned on added in the near future?

[2017-08-24 19:53] proxycyber commented on #172
Sounds like a neat idea, I hope this will come to life.

[2017-08-29 03:43] ar0ra1 opened #174 "Feature Request : Save the image in the database"
It becomes messy managing the screen shots and images, and sometimes they get deleted.
Could you possibly add the feature to save the image in the database (blob)

Would be really useful!

[2017-08-29 04:06] Philip-Scott commented on #174
That's already the case. If you click on the image button on the editor, the file you pick will get saved to the database, and something like `<image 1>` will appear :)

If you don't have that, you might need to run updates or install the correct package if you Installed it from the PPA ;) check the instructions on the readme

[2017-08-29 04:06] #174 closed

[2017-08-29 06:12] ar0ra1 commented on #174
Oh my bad!
I was using the markdown way to add the image
![]()

[2017-08-30 14:03] snowparrot opened #175 "Icons for formatting aren't readable well"
The icons for making text bold, underlined or strike thoughed aren't good because

- they aren't standard elementary icon
- you can't distinguish them at glance

Alternately Notes-Up can use the standard elementary icons.

[2017-08-30 14:11] snowparrot opened #176 "support brackets completation"
For some symbols like "#","*" there should be a brackets completion for faster writing.

[2017-08-30 14:14] snowparrot opened #177 "change dconf location"
As "org.notes" is very generic location for dconf there should be another name like "com.github.philip-scott.notes-up".

[2017-08-30 15:03] Philip-Scott commented on #177
It can't be changed though since for people who already have the app and the database is stored in a different location could loose those changes.

[2017-08-30 15:35] #175 closed

[2017-08-30 15:51] snowparrot commented on #177
Im not sure how flexible the dconf api is but can it just check both "org.notes" and "com.github.philip-scott.notes-up" ?

[2017-08-30 16:01] Philip-Scott commented on #177
I'd have to include both anyways. If i don't include the Schema, the data will be destroyed when it's updated

[2017-08-30 16:25] snowparrot commented on #177
so it is possible?

[2017-08-30 16:34] Philip-Scott commented on #177
Yes, but `org.notes` would still be in use so there's really no point in doing the switch

[2017-09-02 04:09] Nine-H commented on #70
I had a whinge a while ago about switching to databases over flat files/meta.xml. I liked the idea of using git to keep everything synced and track changes. Maybe throw it to the brains trust on slack https://elementarycommunity.herokuapp.com/ because cloud notes would be really sick.

[2017-09-04 17:25] danybeam opened #180 "Window Title doesn't update"
When adding a title (or any line) to a note and saving the title of the screen doesn't update

[2017-09-05 00:22] danybeam opened #181 "Inconsistencies between editing and actual markdown"
When using * as a symbol and not to make words in *italic* there is a small inconsistence between what the editor view tells and the markdown view shows (please see attached files)
![report 1](https://user-images.githubusercontent.com/9967540/30040554-62c28e80-91a6-11e7-9390-a9588bdc373d.png)
![report 2](https://user-images.githubusercontent.com/9967540/30040555-62c44022-91a6-11e7-9da6-d07423e1e8b

[2017-09-05 23:29] Allen-B1 opened #182 "Feature Request: Ability to move chapters of notebooks up and down"

[2017-09-06 19:29] Philip-Scott commented on #182
closing since it's a duplicate of #23

[2017-09-06 19:29] #182 closed

[2017-09-07 08:40] kmf commented on #139
I think the Taskpaper format will work great with this

[2017-09-18 20:27] snowparrot opened #183 "Notes-Up needs a lot energy"
If you open the Notes-Up window the battery status icon on the above-right corner complains too much energy even you dont do anything.

Apps like Android Studio uses less energy (if you believe the battery applet) but far more complicated.

[2017-09-18 20:34] Philip-Scott commented on #183
if you run `htop` what's the CPU % that Notes-Up is taking?

It should only be doing work when you switch between View and Edit, or view new pages since it needs to render them

[2017-09-18 21:00] snowparrot commented on #183
I suppose after changing the window it becomes 20 % for a small time. 10 % during Scrolling. 5 % during writing. Changing the page 6 %.

[2017-09-19 15:44] Philip-Scott commented on #183
Yeah, this is normal because of the process that's loading & rendering the content since it's a WebView. The CUP usage should not be near as high on idle though. Can you confirm that?

[2017-09-19 16:25] snowparrot commented on #183
idle as defined as doing nothing in Notes-Up is very low.

[2017-09-19 16:51] Philip-Scott commented on #183
That's good then! In this case this is normal behavior since it needs to process things in order to show the information :)

[2017-09-19 16:51] #183 closed

[2017-09-19 17:08] Philip-Scott commented on #181
Looks like this is a problem with the SourceView implementation. If you run `\*` does it keep the * in place?

[2017-09-20 01:30] #177 closed

[2017-09-21 00:24] danybeam commented on #181
if I put `\*` it does keep de `*` in place

[2017-09-21 01:50] worldofpeace opened #185 "Edit notebook save action button title is confusing"
![screenshot from 2017-09-20 21 37 05](https://user-images.githubusercontent.com/28888242/30675144-dc0e4632-9e4c-11e7-888e-258a483b2db5.png)

Wouldn't it make more sense if the changes were automatically applied after like 1-2secs?

[2017-09-21 04:22] Philip-Scott commented on #181
Ahh yeah, it's normal behavior then. The markdown is taking your `*` and using them as if you meant to make the text italics. You can also use ` to mark something that contains asterisks without it turning into italics

Closing the report :)

[2017-09-21 04:22] #181 closed

[2017-09-21 10:47] #185 closed

[2017-09-25 14:21] dabou opened #187 "Cancel pdf export create a file"
When the pdf export dialog is cancel for not export the note, a pdf file is created with the current note and is name is "sortie.pdf' in french (i suppose "out.pdf" in english).

[2017-09-25 16:42] dabou commented on #187
![bug-cancel-export-pdf](https://user-images.githubusercontent.com/1374934/30820021-f9dec236-a220-11e7-8b31-161f6c50b0ce.gif)

[2017-09-26 10:26] JamesTiberiusKirk opened #188 "This is a feature request."
Maybe add some keyboard shortcuts.
For example: f5 for switching between the view and edit mode.

[2017-09-26 11:09] Philip-Scott commented on #188
You can switch between modes using `Ctrl+M`. If you hover over the buttons, you can also see which shortcut it uses :)

[2017-09-26 11:09] #188 closed

[2017-09-26 11:11] JamesTiberiusKirk commented on #188
Ah, thanks, donno how I didn't notice that before.
Also, how can I see the version number?
I'm compiling from source and I just want to see if it was upgraded properly.

[2017-09-26 13:04] Philip-Scott commented on #188
They don't really exist in code anymore. The "version number" is generated with AppStream when it lands on the PPA for the elementary AppCenter

You could add a `stderr.printf ("TESTING\n");` to the code, and if you see it it means that it's properly installed :D

[2017-09-29 00:52] Philip-Scott commented on #187
Btw, next time you do a pull request, if you type `fixes #bug` exactly like that, the bug you mentioned will get closed automatically :) Thank you for your contribution!

[2017-09-29 00:52] #187 closed

[2017-10-03 00:43] Streppel opened #192 "Cant compile due to missing libmarkdown library"
Just pulled the project and installed its dependencies. After running _cmake -DCMAKE_INSTALL_PREFIX=/usr ../_, I run _sudo make install_, however I get the following error message:

**make[2]: *** No rule to make target 'libmarkdown.a', needed by 'notes-up'.  Stop.
CMakeFiles/Makefile2:104: recipe for target 'CMakeFiles/notes-up.dir/all' failed
make[1]: *** [CMakeFiles/notes-up.dir/all] Error 2
Ma

[2017-10-03 00:54] Philip-Scott commented on #192
I'm guessing you're not using elementary OS, correct? Can you try running the instructions on https://github.com/Philip-Scott/Notes-up/wiki/Build-and-Install-on-Ubuntu-16.04,-16.10,-17.04,-17.10

Or maybe try to install the Flatpak, Notes-Up is currently available on https://flathub.org/apps.html

[2017-10-03 00:58] Streppel commented on #192
I'm actually running Elementary Loki, which is weird. Maybe I should give it a try on the ubuntu instructions anyway?

[2017-10-03 02:42] Streppel commented on #192
Ok, so I managed it to work by simply deleting everything and downloading it back again lol, so I'll close this issue. Thanks for the quick reply, Philip, I appreciate it

[2017-10-03 02:42] #192 closed

[2017-10-03 02:42] Philip-Scott commented on #192
Glad that fix it! :joy: Any time!

[2017-10-04 10:52] banerjeesamrat opened #193 "Unable to install on Ubuntu 16.04"
sudo apt-get install com.github.philip-scott.notes-up
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information

[2017-10-05 01:15] Streppel commented on #193
This is not exactly a problem with Notes-up, it's about Ubuntu not having libgranite available at the default repositories. I believe you'll need to add one of these PPA locations **ppa:elementary-os/stable** or **ppa:elementary-os/daily** before trying to install libgranite. Give it a try and see if it works.

[2017-10-06 15:40] SuperThunder commented on #193
I run ElementaryOS on Ubuntu and these are the instructions I followed:
- sudo add-apt-repository ppa:elementary-os/daily
- sudo add-apt-repository ppa:elementary-os/os-patches
- sudo add-apt-repository ppa:philip.scott/notes-up
- sudo apt update
- sudo apt install com.github.philip-scott.notes-up

This does end up replacing a few Ubuntu packages (GRUB, the PDF viewer, the archive manager) with th

[2017-10-06 15:42] Philip-Scott commented on #193
You shouldn't need the `elementary-os/os-patches` PPA. the latest granite is in the daily ppa

[2017-10-12 06:05] banerjeesamrat commented on #193
But when I am running this **sudo add-apt-repository ppa:elementary-os/daily** it shows this following message:
![image](https://user-images.githubusercontent.com/31121849/31481465-02282794-af13-11e7-95e0-75c3f2e4ae7c.png)

I am apprehensive about running this after the above warning.
I have a lot of work saved on this system so will it be safe to run this command?

[2017-10-12 12:58] Philip-Scott commented on #193
@banerjeesamrat Just to make sure nothing gets overtitten:

Run upgrades first
Then add the PPA, and try to run upgrades again
There shouldn't be any upgrades, or maybe only one for granite

Can you tell me if you were successful in installing after this? Thanks!

[2017-10-13 03:44] Streppel opened #196 "Cursor position being moved incorrectly"
**Observed:** Whenever we apply bold, italics or strike-through with no text selection, the cursor position goes wrongly to the beginning of the sentence
**Expected:** Cursor position should go to the middle of the editing template (i.e. "inside" the double asterisks for bold) letting the user type in within the applied text edition

[2017-10-13 16:21] dbrandonjohnson opened #198 "Ability to view and write to an existing folder"
I keep all my notes in a specific folder structure that I sync across my devices with things like Seafile or NextCloud.  It would be nice to just point Notes-up to an existing folder and edit markdown files directly.  Notebooks should just be the folder structure in the target directory.

[2017-10-17 00:29] #196 closed

[2017-10-19 01:30] Streppel opened #199 "Word wrapping not working when cursor in middle of word"
**Expected:** when I have my cursor inside a word and type ctrl+b to make it bold, the editor should detect it and bold the word

**Actual result:** the editor prints an "empty bold wrap" in the middle of word

[2017-10-20 04:48] aljelly commented on #139
I was thinking of an idea to create corresponding GTK checkboxes for each `- [ ]` or `- [x]` and refer to each one with an ID that stores the (beginning character) location. So when you tick the checkbox in View mode it replaces the corresponding `- [ ]` with `- [x]` (or vice versa) in the document.

But I think having a clickable checkbox might conflict with the fact that it's called "View" mode,

[2017-10-20 07:39] richo67 opened #203 "Different language on different notebook/pages ?"
It is great that now spell checking works and I can set the language (even it is rather cumbersome to always do it using right mouse click and pop-up menu).
Now the language is set for whole application, meaning each notebook and each page have same language, which means language is set independently on notebook or page.

Would it be possible to set language independently for each page?
Thank you.

[2017-10-20 15:37] Philip-Scott commented on #203
Yeah, that's something that could be done :)

It won't make it on the next release since it requires making changes to the database, but languages could be set even on a page

[2017-10-20 15:43] Philip-Scott commented on #139
@aljelly the problem here is that notes are not being rendered in GTK, but with a webview instead (This is what makes Notes-Up and other markdown apps so powerful)

So doing things with Gtk checkboxes will not work :/

[2017-10-20 15:43] Philip-Scott commented on #1
I'm closing this since the fix is out.

[2017-10-20 15:43] #1 closed

[2017-10-20 18:51] snowparrot opened #204 "Dewrapping deletes letters"
@Streppel
In the master branch if you dewrap (like bold) words some letters are deleted.

It is easier to see the bug if you use a longer text and you bold and debold inside words.

[2017-10-20 18:54] Philip-Scott commented on #204
Can you give the example of some words that get messed up?

[2017-10-20 19:03] Streppel commented on #204
@snowparrot also, is it selected or unselected text? I didn't see any similar case on my testings

[2017-10-20 19:15] snowparrot commented on #204
Now I can reproduce the bug. I will open a new issue.

[2017-10-20 19:15] #204 closed

[2017-10-20 19:18] snowparrot opened #205 "Dewrapping doesnt work for special characters"
If you dewrap following text bigger parts are deleted. It looks very random. E.g. If you bold "des ÖRF war", you delete the last letter r.

Der Sinn des ÖRF war " „im Interesse von Informationsfreiheit und Demokratie, ein vielfältiges, umfassendes und ausgewogenes mediales Angebot zu sichern.“ (Wikipedia Grundversorgung)

[2017-10-20 19:21] Philip-Scott commented on #205
Ohh i see, you're right! It has to do with the way special characters are encoded. In unicode, i think special characters might be considered two chars instead of one when it turns into a string, but not when viewed.

Nice catch @snowparrot :+1:

Do you or @Streppel  wanna take care of it? :)

[2017-10-20 19:24] Philip-Scott commented on #205
This is most likely where the problem is occurring: https://github.com/Philip-Scott/Notes-up/blob/master/src/Services/WordWrapper.vala#L53

Make sure to take into account the changes #202 may bring to avoid conflicts :)

[2017-10-20 19:30] Streppel commented on #205
@Philip-Scott @snowparrot :+1:
I can take a look into it later on when I get off work

[2017-10-22 17:16] #199 closed

[2017-10-24 13:44] #205 closed

[2017-10-27 08:48] ar0ra1 opened #208 "Hyperlinks don't work when exported to PDF"

[2017-10-30 14:36] ar0ra1 opened #209 "Preview Option before exporting to pdf"
This will make it easy to add the break tag.
Otherwise, the pdf is rendered with tables and other important text being on both pages.

[2017-10-31 06:26] Nine-H opened #210 "Export entire notebooks to .pdf"
I use notes up for lecture notes, it'd be nice to be able to export my course summary at the end of semester before exams, maybe you could have it as a right click feature on the sourcelist on the left hand side, or maybe the export menu item could take you to an export dialog where you toggle individual pages. right now I'm manually exporting each page by hand and stitching them with pdftk, which

[2017-10-31 13:02] ar0ra1 commented on #210
i use it for some purpose :)

Would really like to see this feature!

[2017-10-31 16:32] TechRage opened #211 "Anyway to relocate datebase file to second HDD?"
Great work on the app! I just start using it and I have to say it came to be more useful than I initially thought.

I have a second hard drive on my laptop and I want Notes-Up save and read the Notesup.db file from that drive instead. Is there a way for me to do that? I know I can copy the file, but it to do that every time I I make a new page.

Thanks in advance.

[2017-11-05 07:59] ar0ra1 commented on #211
with the dconf editor you can change the location of the database
if that solves your issue

`org -> notes`

[2017-11-07 12:25] #193 closed

[2017-11-08 02:32] worldofpeace commented on #211
There really needs to be a feature in which you can export your local data. I think there has been other issues on this same topic. I don't remember exactly what @Philip-Scott said though. :)

[2017-11-08 02:34] worldofpeace commented on #210
I've seen this exact issue duplicated so many times. Don't close it though. Harrassment is helpful sometimes. :100:

[2017-11-08 02:40] worldofpeace commented on #210
I think it would also be helpful that in the exported pdf notebook that there is a table of contents. I agree with that on right click on the sourceview we see a separated action called `Export Notebook to pdf`.

[2017-11-11 00:49] leoek commented on #25
@Philip-Scott Thanks for this useful tool. I wanted to try it but couldn't get it to run on Mint 18.x with Mate Desktop (Gnome 2). However because there was no way to install it properly on my setup, I made a docker image and a script to run it in a container.

[2017-11-11 02:22] fbruetting opened #213 "Enlarging minimum window width"
Is needed, because the current setting doesn’t make any sense and this also prevents tiling.

[2017-11-11 02:26] Philip-Scott commented on #213
Can you be more specific with what the problem is? I don't see a problem with having the window be as small as you need it. Then, i'd just be setting an arbitrary min size :)

![image](https://user-images.githubusercontent.com/10786508/32685364-1f54ce22-c655-11e7-8639-43d6aedac5a6.png)

[2017-11-11 02:33] fbruetting commented on #213
Oh, it’s in Linux. I cannot make the window smaller in horizontal size, than the top icon bar in edit mode allows (this also applys in view mode).

[2017-11-11 02:41] fbruetting opened #214 "TOC"
Would be cool if you could also have the TOC displayed, like in Abricotine (maybe on the right side?).

![bildschirmfoto von 2017-11-11 03-40-36](https://user-images.githubusercontent.com/10520767/32685458-21ad8780-c692-11e7-8378-f1c1b5832bb1.png)

[2017-11-11 02:43] fbruetting opened #215 "Showing the version number"
Neither `notes-up --version` works, nor is the version number displayed somewhere in the GUI… ;P

[2017-11-11 02:44] fbruetting opened #216 "[Linux] Settings need double-click for closing"
If I click on the close button of the settings for the first time, nothing happens. I always have to click a second time, then the window closes.

[2017-11-11 02:44] Philip-Scott commented on #213
Well yeah, that's to be expected. If you could then elements could start being unavailable.

Can you post a screenshot of your current setup? maybe either your Gtk or icon theme are making things bigger than they're supposed to be. The min size gets pretty small (about 200px across)

[2017-11-11 02:50] fbruetting commented on #213
You’re right – it’s Adapta’s padding. Do you see some solution here, or should I contact the Adapta project?

[2017-11-11 02:51] fbruetting opened #217 "Enabling <Del> for trashing a project section"
Doesn’t work right now… ;)

[2017-11-11 02:53] Philip-Scott commented on #213
Try contacting them, it's not something that can be fixes from here :)

You might also be able to start the app with another theme using env variables.

Closing and marking as "wont fix" since it's not an issue with Notes-Up. But thank you for filing issues

[2017-11-11 02:53] #213 closed

[2017-11-11 02:53] fbruetting opened #218 "No “New page” by default"
I think, the user should always have to create the first page. Otherwise projects holding just subprojects also contain a first page (which cannot be deleted right now).

[2017-11-11 02:54] fbruetting commented on #216
What means “Bite-size” actually?

[2017-11-11 02:56] Philip-Scott commented on #217
You should be more specific with your issues ;)

Do you mean typing the Del key? Also keep in mind that we don't want pages being deleted by accident. That's why deleting only works in Edit mode, and we can't really use del in this mode since the key can be used for text editing.

Ctrl+Del also isn't an option ;)

[2017-11-11 02:56] fbruetting commented on #213
+tista500, what do you think?

[2017-11-11 02:59] Philip-Scott commented on #216
It means that it's a good first bug for someone who wants to get into coding/contribute :)

In this case, i think that we should just remove the close button since:

- There's already a cancel button
- Close isn't specific whether it saves or not

[2017-11-11 03:00] fbruetting commented on #216
I think it’s useful if you don’t want to save changes…?

[2017-11-11 03:00] Philip-Scott commented on #218
Expected result:

Only create a new page by default on empty "folders", check that it doesn't have a child folder as well

[2017-11-11 03:00] fbruetting commented on #217
Alright, sounds reasonable. :)

[2017-11-11 03:00] #217 closed

[2017-11-11 03:01] Philip-Scott commented on #216
I'm tripping, the preferences dialog doesn't have a cancel button ;P

But nah, changes are applied "live". Close should just close

[2017-11-11 03:03] fbruetting commented on #218
Then I create a project, and before I can create my subprojects, a new file will be created, which I (in this case) don’t need. So your expected scenario never happens, because newly created projects don’t have children. ;)

[2017-11-11 03:04] Philip-Scott commented on #218
Yeah, but you can just delete it :) And once you delete it a new file won't be created anymore

But this way, as a user you can make a new subfolder and a new file will be ready for you to write :)

[2017-11-11 03:06] fbruetting commented on #218
Ok, then you just have to fix the re-creation of the deleted “new page” at every program start. :)

[2017-11-11 03:08] fbruetting commented on #216
Then I’d suggest deleting the button and use the close button of the window, because the button then is superfluous. ^^

[2017-11-11 03:10] Philip-Scott commented on #216
I think i'll use instead the close button on the dialog to keep it consistent with the other dialogs in elementary OS

![image](https://user-images.githubusercontent.com/10786508/32685660-6dc12a96-c65b-11e7-8616-ae6dd56c9d96.png)

[2017-11-11 03:13] fbruetting commented on #216
Ok, no idea of Elementary. But since Elementary is only a niche and almost everybody else uses Gnome, a distinction of cases would be nice, because in Gnome, the cross in the top bar is used throughout the system.

[2017-11-11 03:18] Philip-Scott commented on #216
It's an app built specifically for elementary OS though :) I'm not going to add more code to change the behavior for every other distro (already added a way to disable some elementary-only features)

[2017-11-11 03:19] fbruetting commented on #216
k

[2017-11-11 03:30] tista500 commented on #213
We do not support any ElementaryOS related platform and/or applications.

[2017-11-11 03:39] Philip-Scott commented on #213
@tista500 I am not doing anything "elementary only" with those icons thought. Could it be that there's just too much padding on them?

[2017-11-11 03:56] tista500 commented on #213
Your app has `libgranite` build dependency. That's 'elementary-related' thing.

[2017-11-11 03:59] tista500 commented on #213
Related to this widget? : https://github.com/Philip-Scott/Notes-up/blob/master/src/Widgets/ToolbarButton.vala

[2017-11-11 04:03] Philip-Scott commented on #213
Yes, it's related to that. It used the .flat class which shouldn't contain any padding :) (and it's also a SMALL_TOOLBAR icon

[2017-11-11 04:07] tista500 commented on #213
So, how your app handles `.image-button' and `.text-button` style-class via `int type`?

[2017-11-11 04:11] Philip-Scott commented on #213
Type is used for behavior purposes, not style :)

[2017-11-11 04:11] Philip-Scott commented on #213
It might be that I need to add a style class to the container of the buttons

[2017-11-11 04:15] tista500 commented on #213
I'm not sure whether you should do or not, but we, Adwaita, and some other Gtk+ themes have some different types of padding and margins for each `.image-button`, `.text-button` and `.text-button.image-button` in GtkToolBar and/or at-root.

Adapta has `toolbar button.image-button` node: ($icon_size = 16px)
 min-width: $icon_size;
 min-height: $icon_size;
 padding: rem(6.7px);

[2017-11-12 13:34] probonopd commented on #25
@demonpig can you get it to build on [Travis CI](https://github.com/probonopd/linuxdeployqt#using-linuxdeployqt-with-travis-ci), then I can have a look at how to fix that issue. Thanks.

[2017-11-12 18:11] ammarriyaz opened #219 "Youtube link not working"
![screenshot from 2017-11-12 23-36-30](https://user-images.githubusercontent.com/33604484/32701828-902022e2-c802-11e7-9452-aa708360a807.png)

I am using the following method:

<youtube [https://www.youtube.com/watch?v=CB4YTTVtveg]>

The video is being shown in normal way in the viewer but not responding on being played

![screenshot from 2017-11-12 23-39-24](https://user-images.githubusercontent.c

[2017-11-12 18:31] banerjeesamrat commented on #209
Yeah adding page breaks at different points of the notes is not feasible after going through the exported pdf line by line  so if there could be some way which helps in better formatting of pages in the pdf.

[2017-11-12 18:38] banerjeesamrat commented on #219
@ammarriyaz

Your method of insertion of link:

<youtube [https://www.youtube.com/watch?v=CB4YTTVtveg]>

It needs a minor change. Remove the square brackets. And it works

Refer @Philip-Scott answer here:

https://github.com/Philip-Scott/Notes-up/issues/164

[2017-11-13 11:28] demonpig commented on #25
@probonopd I was able to fix the issue that I had previously. Once linuxdeployqt is done doing its thing, I simply replace AppRun with a shell script that sets `GSETTINGS_SCHEMA_DIR`. Now I am running into a different issue:

[code]

I have set the `LD_LIBRARY_PATH` to use the `$APPDIR/usr/lib` before `$HOST/usr/`. At the moment, I am trying to figure out how to work around this.

I have never use

[2017-11-13 15:32] fbruetting opened #220 "Keeping the width of the projects pane"
Currently, the width of the projects pane is reset at every start.

[2017-11-13 15:42] ammarriyaz commented on #219
Thanks alot man!

[2017-11-13 15:42] #219 closed

[2017-11-13 17:20] probonopd commented on #25
@demonpig yes that's a way to do it. Can you build on Ubuntu 14.04 please? That way the AppImage will become more compatible to older target systems (such as the oldest still-supported LTS), and hopefully the HarfBuzz error will go away, too. If it doesn't, then we need to reconsider what we need to bundle. Possibly we need to bundle `libpangoft2-1.0.so` as well.

[2017-11-13 17:23] probonopd commented on #25
So, according to the error above, the `libpangoft2-1.0.so` from your system is trying to use the symbol `hb_font_funcs_set_variation_glyph_func` in `libharfbuzz.so` which was added there only recently in version 1.2.3 according to https://abi-laboratory.pro/index.php?view=navigator&symbol=hb_font_funcs_set_variation_glyph_func%0D%0A#result, and your AppImage probably bundles an older version of sa

[2017-11-13 17:31] probonopd commented on #25
Actually you seem to be doing this here

https://github.com/demonpig/AppImages/blob/468b8768c9b35f28619ad118f0aa6840fe937c1b/recipes/notes-up/Recipe#L51-L58

Probably this is an issue in linuxdeployqt and we should change

https://github.com/probonopd/linuxdeployqt/blob/5dc2aaea62c0222dd7952fd9e0832e8fcdfcf672/tools/linuxdeployqt/shared.cpp#L453

to either _not_ bundle HarfBuzz, or _also_ bundle `

[2017-11-13 22:52] demonpig commented on #25
@probonopd To tell you the truth, I do not believe it will compile on Ubuntu 14.04 due to a dependency of webkit2gtk-4.0 which was merged as of this commit https://github.com/Philip-Scott/Notes-up/commit/761b32c45de3a66753d28c239b9f991ba73becd7. I will give it a shot though once I can get a working AppImage on Loki.

[2017-11-21 22:58] #216 closed

[2017-11-21 23:01] Philip-Scott commented on #215
About dialogs are deprecated in favor of AppData.

https://medium.com/elementaryos/peace-out-about-dialogs-8efa956c0562.

[2017-11-21 23:01] #215 closed

[2017-11-21 23:01] Philip-Scott commented on #214
I'm going to close it since i don't think this is within the scope of the project

[2017-11-21 23:01] #214 closed

[2017-11-21 23:02] fbruetting commented on #215
No “About dialog” – I’m talking about omnipresent and quasi-standard CLI query you’ll find in pretty ALL applications. How could you find out the version number, if there are GUI problems and the application doesn’t open up?

[2017-11-22 16:33] fbruetting opened #221 "Enumeration icon should be top-aligned"
Like you see in my screen shot below, the enumeration point is down at the bottom – it would be nice, if this can be corrected to be placed at the top! :)

![bildschirmfoto von 2017-11-22 17-31-27](https://user-images.githubusercontent.com/10520767/33138610-374ce276-cfab-11e7-94d6-4781eddc0bc4.png)

[2017-11-22 23:02] fbruetting opened #222 "Supporting checkboxes"
- [ ] bla
- [x] blubb

Is not yet supportey by Notes-up! :/ Could you implement this, please?

[2017-11-22 23:14] Philip-Scott commented on #222
Closing, duplicate of #139

[2017-11-22 23:14] #222 closed

[2017-11-27 14:30] fbruetting opened #223 "Proper UTF8 support"
If e.g. a page has an ampersand `&` in the title, the application window title just shows `&amp;` instead.

[2017-11-27 14:34] fbruetting commented on #25
`flatpak install flathub com.github.philip_scott.notes-up` Where’s the problem? O_o

[2017-11-27 15:08] TomBous commented on #25
@fbruetting The issue was submitted on march 2016, at this time Flatpack wasn't heavily deployed as it is right now. I agree with you about the benefits of Flatpack, btw i'm using Notes-up flatpack since Fedora 26 ;-)

[2017-11-27 21:31] probonopd commented on #25
@TomBous will you still provide an AppImage for the rest of us who don't run Flatpak?

[2017-11-29 12:23] mtompkins opened #224 "Recommend having a look at Mermaid"
Very nice app. You may want to incorporate this:
https://mermaidjs.github.io/

Good luck!

[2017-12-02 00:52] fbruetting opened #225 "Window resizing affects menu panes"
I drag a window edge for making the window horizontally smaller. At the point where the editor/viewer has it’s minimal width, the left panes get decreased in width.

What do you think about making the panes just resizable by their right edges, so that they always retain their width – no matter how you resize (or tile) the window? This way, we don’t have to resize the window in three steps (window,

[2017-12-02 23:02] fbruetting commented on #225
Another approach: The menu panes could shrink temporarily – but when the window gets expanded again, the panes expand up to the width, which was set by the user before.

[2017-12-05 17:16] banerjeesamrat opened #226 "Autocomplete feature"
I think Notes-up would be more powerful and efficient if the auto-complete feature is added which will automatically complete the words that have already been used in that notebook or other notebooks.

[2017-12-09 07:19] h-alex opened #228 "Unable to locate package 'com.philip-scott...'"
I'm trying to install the Notes-up via ppa but I fail at the last step.
Trying to do `sudo apt-get install com.github.philip-scott.notes-up`
will get me the error

`E: Unable to locate package com.github.philip-scott.notes-up`
`E: Couldn't find any package by regex 'com.github.philip-scott.notes-up'`

[2017-12-09 07:23] Philip-Scott commented on #228
What distro and version are you using? You might have to compile manually, or give me a few days to make a new build for it :)

[2017-12-12 00:20] DroWnThePoor opened #229 "Relative paths for images?"
Is it not possible to use relative paths for images?
I've moved my database to a Nextcloud shared folder, Nextcloud allows me to paste entire web articles
and automatically saves all the images to /media subfolder and all images get the file://media/etc... link,
I tried to move the database the the notes directory that contains /media to have this work automatically
in Notes-Up, and I've even trie

[2017-12-13 14:34] snowparrot opened #230 "During export add ".pdf" after file name"
Expected behaviour:

If I export a page and I didnt finished with ".pdf " in the file name app should add it to avoid confusion (expecially with windows and mac users)

Current behaviour:

File doesnt ".pdf" in the name.

[2017-12-13 16:33] Philip-Scott commented on #229
Sadly, if i made relative images work, it would break being able to grab an image from anywhere on the computer, so i'm not going to fix it :/

BUT! If instead of dragging and dropping an image, you click on the image button on the taskbar, a file selection dialog will appear, and the image you choose from there will be imported into the database, and you'll be able to open that from any computer

[2017-12-13 16:33] #229 closed

[2017-12-13 16:33] #228 closed

[2017-12-13 16:47] Philip-Scott commented on #230
Fixed in 22d8f88

[2017-12-13 16:47] #230 closed

[2017-12-26 00:21] appcenter[bot] opened #231 "Rename binary to match RDNN"
AppCenter has noticed you ship a file in `/usr/bin`, but it's not named
`com.github.philip-scott.notes-up`. Please ensure that your binary is named `com.github.philip-scott.notes-up`
and is installed to `/usr/bin`.

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [1.5.0 release](https://github.com/Philip-Scott/Notes-up/relea

[2017-12-26 00:51] appcenter[bot] opened #232 "Invalid Desktop file"
AppCenter Dashboard ran `desktop-file-validate` on your project's `.desktop` file and received the following errors:
[code]

---

For more information, see the [Desktop Entry Specification](https://standards.freedesktop.org/desktop-entry-spec/latest/ar01s05.html)

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [1.5.1 releas

[2017-12-26 11:13] snowparrot opened #233 "Use libgtkcanvas"
In the Future it might be appropriate to use libgtkcanvas so most users can use an interactive editable mode (like OneNote) instead of Markdown Mode.

[2017-12-26 15:14] Philip-Scott commented on #233
Probably not for Notes-Up since it would change how it fundamentally works, but maybe for another app 😉

[2017-12-26 15:14] #233 closed

[2017-12-26 15:14] #231 closed

[2017-12-26 15:14] #232 closed

[2017-12-27 16:23] banerjeesamrat opened #235 "Zoom feature on pages"
There should be a zoom feature on the pages to help us view images and other content on the page in a zoomed-up view.

[2017-12-27 19:37] MichaelAquilina opened #236 "Cannot launch Notes-Up (manually compiled)"
I followed the instructions on the README but when launching I get the following error:

[code]

I am running this on OpenSUSE tumbleweed. I tried installing from the link provided on the README, but it seems like the Notes-Up package isnt available anymore?

[2017-12-28 15:52] Philip-Scott commented on #236
Run cmake again with the arg `-Dnoele=1` to disable the elementary OS only functionality :)

https://github.com/Philip-Scott/Notes-up/wiki/Build-and-Install-on-Ubuntu-16.04,-16.10,-17.04,-17.10

[2017-12-28 15:54] Philip-Scott commented on #236
@Mailaender Can you update the OpenSUSE recipe? The executable was changed from `notes-up` to `com.github.philip-scott.notes-up` :)

Thanks!

[2017-12-28 16:25] #236 closed

[2018-01-02 22:41] decathorpe opened #238 "don't override the system-provided CFLAGS"
At <https://github.com/Philip-Scott/Notes-up/blob/master/CMakeLists.txt#L80>, you are overriding all system-provided CFLAGS with "-ggdb". This breaks builds in some environments and builds the program with "insecure" build flags (no PIE, etc.).
Please drop this line entirely, or replace it with `set (CMAKE_C_FLAGS "${CMAKE_C_FLAGS} -ggdb")` if the "-ggdb" is really necessary.

[2018-01-03 18:36] Philip-Scott commented on #238
Fixed in b70cc12 :)

[2018-01-03 18:36] #238 closed

[2018-01-03 20:54] J0Ar opened #239 "Defining a hyperlink to word(s) does not work as expected (inverted)"
First....nice application :sweat_smile:

I wrote some words and wanted to set a Hyperlink to the word _Möglichkeiten_...so...

- the current behavior is...

` [Link Text](Möglichkeiten)`

- the expected behavior i think should be...

 `[Möglichkeiten](url)`

I hope i did explain this simple enough.
THX :nerd_face:

[2018-01-06 19:12] rituraj22 commented on #210
I can't use the app because of this missing feature. I agree with @worldofpeace on the way it should be implemented.

[2018-01-08 05:59] Philip-Scott commented on #210
So there's either two options to consider:

1. Export Notebook option that will cycle though each page and make a separate PDF "per note". The viewer NEEDS to render the note before it can print it though
2. Selecting notes just "appends" the data of the new note to the viewer, so you can just export multiple notes as you would a normal one

[2018-01-10 04:01] rituraj22 commented on #210
@Philip-Scott 2nd approach with a toggle for table of contents would be best

[2018-01-15 13:00] decathorpe opened #241 "unbundle discount/libmarkdown and use the system-provided one"
The bundled "discount" project is available as a system dependency (discount/libmarkdown) on most distributions now - including ubuntu, fedora, and arch, so carrying the bundled version is no longer necessary.

[2018-01-17 17:50] danybeam opened #242 "Feature Request: Editor preference to add to blank spaces before breaking line"
Because of how markdown works breaking a line while writing doesn't immediately translate to a line break on the pretty view of the document
Like the "Automatic indentation option" I suggest adding a "quick line breaking" that adds two blank spaces automatically so that pressing enter behaves the same on both views

[2018-01-20 19:30] yerbestpal opened #243 "Cannot create Javascript syntax highlighting"
Hey there,

I realise I have posted about similar issues in the past but I cannot find a solution. I'm learning Javascript right now and I cannot create the correct syntax highlighting for my notes. Any ideas?
![1](https://user-images.githubusercontent.com/15250241/35187223-53549a72-fe18-11e7-80ed-c3d2300619be.png)
![2](https://user-images.githubusercontent.com/15250241/35187224-53878306-fe18-11e7

[2018-01-20 19:45] yerbestpal commented on #243
Creating a brand new note, with the same parameters, i.e. `<highlight>` and `javascript` appended to the beginning of my code block, works perfectly.

![3](https://user-images.githubusercontent.com/15250241/35187349-75db6d08-fe1a-11e7-9349-4c78b5af7a6b.png)

[2018-01-20 19:48] Philip-Scott commented on #243
It's a webkit problem as far as I can tell. It usually happens when you use non-ASCII characters. Try deleting part of the text above to see which char is the culprit

[2018-01-20 20:21] Philip-Scott commented on #176
Closing since there's been work to make this better

[2018-01-20 20:21] #176 closed

[2018-01-20 20:23] #54 closed

[2018-01-20 20:23] #119 closed

[2018-01-20 20:23] #241 closed

[2018-01-20 20:29] Philip-Scott commented on #208
Closing as i use Webkit for exporting, and it's a limitation of "printing" a webpage

[2018-01-20 20:29] #208 closed

[2018-01-24 11:49] fbruetting opened #245 "Unconsistent markup in edit mode"
The indentation layers behave different, like you see in my screen shot.

• It’s actually quite nice, that the third level is colored blue, which leads to a better distinction when searching through a longer page.
• But things like slanting and fat-red just works at the first two levels.

![bildschirmfoto von 2018-01-24 12-44-00](https://user-images.githubusercontent.com/10520767/35330773-f18ed0ba

[2018-01-24 11:59] fbruetting opened #246 "Spaces destroy list rendering"
Would be needed for alignment of notes in the Editor.

This:
[code]
leads to this:
![bildschirmfoto von 2018-01-24 12-56-26](https://user-images.githubusercontent.com/10520767/35330998-0682aee6-0106-11e8-81d6-85eb5f37446b.png)

And this:
[code]
leads to this:
![bildschirmfoto von 2018-01-24 12-59-02](https://user-images.githubusercontent.com/10520767/35331069-6127c23c-0106-11e8-9ba3-ae19aeb35461.p

[2018-01-24 13:27] Philip-Scott commented on #246
Markdown and HTML always destroy trailing whitespace. It's just the way the standard is. If you want to indent it, indent with the - as well

[2018-01-24 13:27] #246 closed

[2018-01-27 00:23] SkyzohKey commented on #239
IMHO it should détection if the selected text is an URL or not. If that's an URL, put it between parenthesis, else brackets.

[2018-01-27 03:43] altntowin opened #247 "could you make a flatpak for Notes-up?"
Hi, I really appreciate your work , is a good application
but i don't use elementary OS
could you make a flatpak for Notes-up?
in this way, users can install the application in any linux distribution

please.
thank you.

[2018-01-27 04:27] Philip-Scott commented on #247
A flatpak is already available over at Flathub :)

But other than that, same comment as applies: https://github.com/Philip-Scott/wallpaperize/issues/16#issuecomment-360959050

[2018-01-27 04:27] #247 closed

[2018-01-27 04:28] Philip-Scott commented on #245
Marking as "Out of Scope" since this is an issue with the Gtk SourceView theme, and not something from Notes-Up :)

[2018-01-27 04:28] #245 closed

[2018-01-27 04:29] #243 closed

[2018-01-27 04:31] Philip-Scott commented on #224
I feel that the use cases for having this in Notes-Up is very small, but it might be a great opportunity for someone to make this as an external application :) Plus, you can always import images.

Closing and marking as out of scope

[2018-01-27 04:31] #224 closed

[2018-02-06 00:37] mcarlo95 opened #248 "Tutorial: Translating into a new language"
Hello, I just faced two annoying bugs when using notes-up on an Italian system.
First is that hunspell-it was not installed by default so I could not see spellcheck.
Second and more serious is the one about exporting to PDF. I read in issues that a translation is needed to fix that bug (was not easy to find out). Hopefully a better solution will be available with time, for now I can happily transl

[2018-02-06 05:02] Philip-Scott commented on #248
Hey! Thank you very much for volunteering to contribute with the translations :) There is a program you can install from the terminal called `poedit`, and you can use it to create your language's `.po`  file using this as a template: https://github.com/Philip-Scott/Notes-up/blob/master/po/notes-up.pot

Once you have it, simply make a PR with your file and i'll be able to merge it! :)

About hunspe

[2018-02-06 05:02] #248 closed

[2018-02-07 01:41] mcarlo95 commented on #248
Great! I will eventually do a PR tomorrow. One more question for the translation.
The work Notebook is more like: a) school notebook b) notepad c) diary (moleskine)
There is also a pic to help you choose the italian word you like more: [Imgur](https://i.imgur.com/oo9SFrp.png)  😃

[2018-02-07 01:44] Philip-Scott commented on #248
The Spanish translation uses the word for "School Notebook", so i think it would be fine to use that one :smile:

Thanks for asking!

[2018-02-08 22:32] MichaelTunnell opened #251 "Please fix the Changelog vs Release Contradictory Numbers"
Release number says 1.5.2 but the Changelog maxes out at 1.3 and the front README says 1.3.1 so I am confused at what version it is suppose to be.

Also it seems like the Release system here isn't being used for releases but small updates instead.

[2018-02-10 16:28] NicolasStouff opened #252 "Trying to build with cmake 3.5.1 fails with "No libmarkdown package found""
I'm trying to build Notes Up with Cmake 3.5.1, but it fails with this error:

[code]

Libmarkdown2 is installed as well as libmarkdown2-dev.
I saw [this](https://github.com/Philip-Scott/Notes-up/issues/119) issue, but could not find a solution in it.

I can't really figure out why it woul fail, especially since libmarkdown seems to be shipped with Notes Up ?

[2018-02-10 17:06] Philip-Scott commented on #251
I removed the changelog from the readme, thanks!

[2018-02-10 17:06] #251 closed

[2018-02-26 08:41] snowparrot opened #253 "No tooltip on DeleteButton"
Right now, there is no tool tip on the DeleteButton for pages (but for new page button)

[2018-03-11 19:17] dar5hak opened #256 "New Notebook option not immediately obvious"
This might be very subjective, but as a user, it took me a while to figure out how to create a new notebook. I'm not sure if the settings menu is the best place for the option.

It would probably be more visible either in the header bar, or at the bottom of the notebook list, so that it aligns with the New Page option.

If you agree, I can make a PR. Else, feel free to close; it might be just me.

[2018-03-11 23:59] Philip-Scott commented on #256
Mmmm i'm not sure that it would make sense in the bottom on the notebook list, since none of the other elementary apps have that style :thinking:

How about making the word "Notebooks" on the notebook list right-clickable and adding the option to make a new notebook from there as well? :)

[2018-03-12 00:07] dar5hak commented on #256
Oh yes! That's a great idea too. Let's go with that then? I'll see if I can hack it sometime this week.

[2018-03-12 17:36] dar5hak commented on #256
Okay, I've run into #252 while compiling on Loki. :disappointed:

[2018-03-12 17:42] Philip-Scott commented on #256
If you're good with git, try to revert to before this commit: https://github.com/Philip-Scott/Notes-up/commit/20077eecb5c499600bb39d05c64769b81d6d5a6e

I think `git checkout b70cc125cffddc4b5a761e88b855c16915666c0c` should do the trick

[2018-03-12 17:45] Philip-Scott commented on #252
Looks like libmarkdown isn't correctly linked in Loki, this will be fixed once Juno is out, but for now you can revert to commit b70cc125cffddc4b5a761e88b855c16915666c0c so that things are compiled as it was before.

If anyone knows how to manually link things in CMAKE, that would fix it :)

[2018-03-12 17:47] dar5hak commented on #256
I'm not, but that worked. Thank you! :grinning:

[2018-03-12 17:49] Philip-Scott commented on #256
If you want to learn more about git, this is a very good resource https://learngitbranching.js.org :)

I would really recommend at least the first 2-3 lessons from there!

[2018-03-12 17:54] dar5hak commented on #256
Whoa, this looks great! Thanks!

[2018-03-13 16:30] JamesTiberiusKirk commented on #153
Where would I find a list of all of the other tags such as tor titles, lists and other elements?
Because using just "p" only changes the normal written text.

[2018-03-13 16:33] Philip-Scott commented on #153
@JamesTiberiusKirk It's normal HTML, it uses tags such as h1 for titles. h2 for `##` etc. You can check https://www.w3schools.com/html/html_elements.asp for more info :)

[2018-03-14 18:08] dar5hak commented on #256
[This guy here](https://github.com/Philip-Scott/Notes-up/blob/46a0ec99e5ee4b0afc3f2d7be65a148588390aae/src/Widgets/Sidebar/Sidebar.vala#L25) needs to implement `get_context_menu ()`. And for that, it needs to be a subclass of `Granite.Widgets.SourceList.ExpandableItem`.

I'm thinking I'll put it in `Widgets/Sidebar/NotebookList.vala`. That sound okay to you?

[2018-03-14 18:08] dar5hak commented on #256
(Bear with me, I'm a beginner to Vala.)

[2018-03-14 19:48] Philip-Scott commented on #256
Yes, sounds good to me :) Just put the new class all the way at the bottom

[2018-03-15 13:59] aljelly commented on #70
One of the main features of [Standard Notes](https://standardnotes.org/) is free built in end-to-end encrypted sync (the client is Electron).

The whole thing is open source and documented. If you were to implement compatibility with Standard Notes' [Standard File](https://standardfile.org/#intro) library, you could probably get the client to connect with the default Standard Notes server. Or you

[2018-03-15 14:11] aljelly opened #257 "Show note creation date in list"
Mockup:

![krita_edit_concept](https://user-images.githubusercontent.com/10395308/37468155-149512d2-285a-11e8-9947-bcb6aca74582.png)

(ignore the "Something" entry without a time and date)

The date would be the date and time the note was created.

[2018-03-15 14:19] Philip-Scott commented on #257
That's actually a great idea! I'm actually already storing creation and modification dated in the database, I hope that I'm actually storing those values correctly :sweat_smile:

I wonder if instead of creation date it should be modification date :thinking:

[2018-03-15 14:44] aljelly opened #258 "Slightly update font styling"
This is the same mockup picture from the time/date issue, but whilst I was doing that I used the GDK inspector to edit the font sizes (again, ignore the "Something" entry in the mock up).

Before (what it currently looks like):
![before 1](https://user-images.githubusercontent.com/10395308/37469009-40499e50-285c-11e8-9b91-46460fa00b39.png)

After (mockup):
![krita_edit_concept](https://user-images

[2018-03-15 14:58] aljelly commented on #257
You could show the modified date instead, I was going by what Standard Notes does. But I just discovered you can also show "date modified" in Standard Notes in place of "date added", depending on what you set sort by to. I presume it shows date added by default because it also sorts by that.

([Standard Notes is on the web](https://app.standardnotes.org/), close the Account dialog and try the sort

[2018-03-15 15:57] aljelly opened #259 "In certain cases, formatting ignores new line"
#### Steps to reproduce:
1. Create a new note
2. Type some text and press Enter any amount of times
3. Press one of the formatting buttons. Even though you're on a new line, the text above will have formatting applied to it.

However, it doesn't happen when you do this:
1. Create a new note
2. Type some text and press Enter any amount of times
3. Click on a new line that were just created
4. Press

[2018-03-15 16:10] aljelly opened #260 "Asterisk italics not shown correctly in note preview text"
#### Steps to reproduce:
1. Create a new note
2. Copy and paste the following into it:
[code]
3. Press Ctrl + S to save and update the note list

#### Should look like:
_works_ and *doesn't work*
#### What actually appears:
_works_ and \*doesn't work\*

[2018-03-15 16:17] Philip-Scott commented on #260
Bold in markdown is done with two Asterisks, not one :) Both the help panel and the toolbar add two asterisks so i'm going to mark this as working as intended

[2018-03-15 16:25] aljelly commented on #260
I'm not talking about bold, I'm talking about italics.

In Markdown, one asterisk is [valid](http://commonmark.org/help/) as italics.
`*hello*` = *hello*

Same with bold and two underscores:
`__hello__` = __hello__

It's the number of characters, not the characters themselves. However it's a tiny issue and not really that important.

[2018-03-15 18:59] dar5hak commented on #256
Not sure what you meant by "all the way at the bottom", but I put it after all the `ExpandableItem`s.

[2018-03-15 20:43] Philip-Scott commented on #256
Ahh i thought you would be adding the new class to the Sidebar class, but i misread it! I left a review on your PR btw!

[2018-03-15 20:56] Philip-Scott commented on #258
Hmmm i like it. It would be a good change :) Do you want to be the one who makes the change in code?

[2018-03-16 20:09] aljelly commented on #224
Actually, you can use it already. Example (remove the space in the code tag):

[code]

Results in:
![image](https://user-images.githubusercontent.com/10395308/37542304-a267c28e-2955-11e8-81b1-d8fc25272c1f.png)

You can also apply it to every page if you want, though it's a bit hacky.

Go to Preferences > Viewer and add this to the style modifications:
[code]

Now you can remove the `<script>` and

[2018-03-16 20:14] Philip-Scott commented on #260
Hmm... alright, i'll open the issue again

[2018-03-16 20:18] aljelly commented on #260
I've fixed it, I'll submit a pull request soon.

[2018-03-16 20:19] Philip-Scott commented on #260
Sweet!  thank you for your work! :)

[2018-03-16 22:12] #256 closed

[2018-03-17 02:38] dar5hak commented on #256
Um, you might want to change the label here maybe?

[2018-03-17 02:59] Philip-Scott commented on #256
Done :) thank you.i usually don't care about the labels once it's closed

[2018-03-17 11:58] aljelly opened #265 "Unclosed markdown tags lead to Pango breakage"
For example, try the following in a new note:
[code]

[code]
Markdown formatting without closing tags converts to HTML without closing tags, breaking Pango:
[code]

This prevents the title and preview labels from updating until the error is fixed.

If you restart Notes-Up while leaving the note contents as it is, the preview label doesn't show until you remove or fix the text.

[2018-03-17 15:19] Philip-Scott commented on #118
@aljelly linked another program to an issue the other day, it may not be the a manual sorting, but it would definitely give more options if we do something like:

![image](https://user-images.githubusercontent.com/10786508/37557016-e4abaae8-29c3-11e8-870b-ce228cf6c2f3.png)

[2018-04-01 16:46] fbruetting commented on #224
Doesn’t work for me. Could this be due to Flatpak portal blocking internet access?

[2018-04-01 19:31] aljelly commented on #224
I got it working with Flatpak. Flatpak blocks internet access by default, so the easy way to fix it is to add `--share=network` to the exec arguments, like `flatpak run --share=network com.github.philip_scott.notes-up` (I tested it and this works).

[2018-04-04 17:29] SolarLiner opened #266 "Notes management is confusing/buggy"
I've downloaded the app from the AppCenter to try it out as I also do take a lot of notes for school (but not only), however I find managing those notes rather confusing. Or rather I think it is buggy.

There is no way to rename a note from what I tried (double click, right-click, long press), and there is no feedback when deleting a note; rather it is duplicated into a "trash" section.

Deleting

[2018-04-04 19:30] SolarLiner opened #267 "Misaligned line numbers"
Line numbers are misaligned with the content in the editor.
![image](https://user-images.githubusercontent.com/4302963/38329899-6c7e12c8-384f-11e8-90e7-8408da9fcf05.png)

[2018-04-05 13:15] Philip-Scott commented on #267
Fixed in master, thank you for bringing it up!

![image](https://user-images.githubusercontent.com/10786508/38367831-57549afc-38a9-11e8-86ce-b454146ceb81.png)

[2018-04-05 13:15] #267 closed

[2018-04-05 13:32] MichaelAquilina opened #268 "Not obvious where markdown files are stored"
I'm struggling to find where my markdown files are stored (so that they can be backed up for example).

I can find anything on the README and attempting to use grep to search my home directory proved fruitless.

It would be nice if this could be specified somewhere for those looking or it. Or better yet, make it a customisable field in preferences.

[2018-04-05 13:50] MichaelAquilina commented on #268
I've just noticed from reading the source code that the Notebooks are stored in a database :/

Is there any way to get this to work so that it works with text files instead? Using plain text files is much more portable if you want it to work with other applications, command line tools etc. It also means its easier to inspect from the command line directly if you suddenly need to ssh into your mach

[2018-04-10 06:28] PhilippeMorere commented on #268
I agree, I would love to get this feature. It would allow me to sync the .md files across several devices as well.

[2018-04-10 09:50] MichaelAquilina commented on #268
Looking at the code, it wouldnt be extremely difficult to get this changed to use plain text files. The part that doesnt seem simple is coming up with a search mechanism to replace SQL text search. I wouldnt mind trying this out - but its quite a major change and I would like to hear what feedback @Philip-Scott has! :D

[2018-04-10 11:07] Philip-Scott commented on #268
So a bit of history here! In it's super early days, Notes-Up used to use a folder to save all the notes, with each file being a note, etc. And honestly, it was a mess and changing to SQL was a huge step forward. There's just too much extra data to handle like pictures, extra styles, creation and modification date, colors, and also the favorites section.

Instead of going back to using files, we sh

[2018-04-10 18:04] SolarLiner commented on #268
As a mean of backup it'd be good to also be able to import/export the database if possible, or tell us where the database files are saved so that third-party backup tools can pick it up.

Having suffered from a recent disk data corruption, I want to be as safe as possible. ;)

[2018-04-10 18:38] Philip-Scott commented on #268
Depending on how early on the life-cycle of the app you installed it, it should be on either ~/.local/ or `~/.local/share/notes-up` :)

Ideally, normal users should have no need to ever access that file, but yeah i agree that maybe something should be done. Maybe i can have a button like on Spice-Up that opens the location of the database :thinking:

![image](https://user-images.githubusercontent.

[2018-04-14 23:36] proxycyber opened #269 "Feature Request: Pin Notes To Top of List"
It'd be great if we could "star" or "pin" one or more notes to the top. So, any note created would be created below the pinned ones at the top.

[2018-04-23 15:37] snowparrot opened #270 "Notes-up should use elementary colours for tagging"
You can use colours for tagging notes.
The proposed colours for tagging should be the elementary colours so it looks better.

[2018-04-23 15:39] snowparrot opened #271 "Fast tagging like in Files"
In Files you can right-click on a File and then tag it with a colour.
Notes-Up should have the same mechanism so you can avoid a sub menu.

[2018-04-23 15:40] snowparrot opened #272 "Support icons for tagging"
Colours arent very interesting for some tagging.
In addition Notes-Up should support tagging with a icon. It means instead of bubble with a colour you have an icon.

Good start point should emoticons in Juno.

[2018-04-29 22:09] Philip-Scott commented on #252
@mrjakebot try looking for one starting with `lib`. Such as libgtkspell3-dev (not sure what the actual name is ATM)

[2018-05-02 10:06] sschuhmann commented on #70
Nextcloud is providing a note synchronization via the [notes](https://github.com/nextcloud/notes) app. This app also offfers a open rest implementation to work with the notes.

Bijiben alredy has some basic integration for NextCloud notes working, so some of their work could be reused.

[2018-05-03 04:42] proxycyber opened #273 "In View mode, how do I make text take up more width?"
I'd like the text to fill up more width of the page. How can I do this? I've tried a few CSS lines but I can't get it to how I like it. It seems pretty centered and narrow to me right now, I want it to take up a lot more of the white space in terms of width. Just a personal preference. Is there a way to do this?

[2018-05-03 13:14] Philip-Scott commented on #273
try adding these lines on the app's or notebook's stylesheet:
[code]

This is the stylesheet in use so feel free to copy it and modify it to your liking https://github.com/Philip-Scott/Notes-up/blob/master/src/Styles/elementary.vala :)

[2018-05-03 13:14] #273 closed

[2018-05-03 13:18] proxycyber commented on #273
You are FANTASTIC! Thanks for this. :+1:  :)

[2018-05-05 13:43] yeboahnanaosei opened #274 "Open, read and edit existing markdown files"
This might have be related to #198.
I think it will be cool if Notes-up can be used as a markdown viewer for already existing markdown files.

So that in Notes-up one can just click an 'Open file' menu, then browse to an existing markdown file to view. Also any changes made will be saved to that same file.

[2018-05-08 10:47] jalberto opened #275 "[feature request] WikiWord support"
Will be great to have the ability to link to other notes automatically, ideally using WikiWord syntax

- WikiWord should link to "WikiWord` note name
- if note doesn't exist, create it on click

[2018-05-08 12:37] Philip-Scott commented on #275
Closing since it's a duplicate of #107 ;)

[2018-05-08 12:37] #275 closed

[2018-05-11 11:11] Wetrain commented on #266
@SolarLiner Regarding the deletion of notes, i am also experiencing this issue

[2018-05-11 11:26] snowparrot commented on #271
Just right click on a File in (elementary) Files.

[2018-06-07 15:49] eliocamp opened #278 "Pasting images from the clipboard"
I'm trying to use Notes-Up to takes notes of papers I read. The organization in notebooks with pages seem be extremely useful (instead of having one extremely long text file of a zillion of small files for each paper).
What I would just LOVE is to be able to painlessly attach pictures from the clipboard so I can copy or screencap some part of the PDF and add it to the note.

If you feel that this

[2018-06-07 16:08] Philip-Scott commented on #278
It definitely sounds like it would be very useful to have! :) It will probably be a while before I have the time to implement this as I'm currently out on an internship for the summer, but once I'm back I could look into it, or maybe someone else could develop it and make a PR!

[2018-06-10 08:35] rasmus91 opened #279 "Export to pdf does not seem to work"
When i click the cog and choose export to pdf, i can make a file with a .pdf extension, but documentreader will not open the file.If i open it with a text editor, it just looks like an empty file.

[2018-06-14 10:47] fabriciojardim opened #280 "Closes unexpectedly after edit and double click on the name of a note. (Flatpak build)"
Tested on Ubuntu 18.04 and Mint 18.3 (both installed from Flathub).

Steps to reproduce:

1. Edit a note.
2. Double click on the name of the note you just edited.
3. Instead of toggle markdown preview the app closes.

[2018-06-14 14:21] Philip-Scott commented on #280
Mind sharing the terminal output? Also try to install the app manually instead of using flatpak to see if you can also get it to crash

[2018-06-14 17:31] Philip-Scott commented on #279
Duplicate of #1 , you probably use the app in a different language, but you can fix it for you and everyone by looking at the instructions in that other issue

[2018-06-14 17:31] #279 closed

[2018-06-14 17:34] Philip-Scott commented on #280
That output you sent is just the normal output....  does it only say that when it crashes?

You might need to compile it by yourself to check what's going on. I'll be running a build over at that PPA you added, but not sure everything will work and i don't really have the time to check atm to test things.

[2018-06-14 17:51] fabriciojardim commented on #280
Yes. Thats the only output I got. Will do the compilation latter. As I have no practice with it I want to do it when I have time to pay attention.

[2018-07-18 18:38] Philip-Scott commented on #117
@Wetrain Valadocs is always a great place to start :)

Both the viewer and the editor have a scrollbar, and the scrollbars have something called anm Adjustment. So maybe what we could do is grab the scrollbar's position, and set an approximate on the editor :)

https://valadoc.org/gtk+-3.0/Gtk.Scrollbar.html
https://valadoc.org/gtk+-3.0/Gtk.Adjustment.html

The code for the editor and viewer widge

[2018-08-23 20:26] infosisio opened #283 "Allow Notes Order Change In List By Drag And Drop"
This makes total sense, in terms of having a seamless user experience.

[2018-08-23 20:27] infosisio opened #284 "Issue with "&""
When using the "&" character as the first header, which becomes the note title, if you then view that note in the Window title you will see it rendered as ";amp" and not as "&".

[2018-08-23 20:57] infosisio opened #285 "Activate Code Syntax Highlighting"
I can't get this to work and you state that an additional plugin is required ?

Where is that and how does it work ?

Thanks.

[2018-08-23 20:59] infosisio opened #286 "Slow Transition When Switching Between Edit/View"
This only happens after a change is made and with the sidebar always shown.

UPDATE: I just compiled and tested the latest version from source and I can't reproduce this there.

[2018-08-23 21:07] Philip-Scott commented on #285
Check on the help sidebar :) There's a button you can click, or just type `<highlight>`

[2018-08-23 21:07] #285 closed

[2018-08-23 21:08] Philip-Scott commented on #283
closing sience it's a duplicate of #23 :)

[2018-08-23 21:08] #283 closed

[2018-08-23 22:10] infosisio opened #287 "No Application Icon When Building From Source on Juno"

[2018-08-23 22:15] infosisio opened #288 "No Ability to Empty Trash"

[2018-08-23 22:16] infosisio commented on #285
@Philip-Scott Just noticed that, thanks !

[2018-08-23 22:16] infosisio opened #289 "Sidebar Size Resets To Default When Switching Between Edit/View"

[2018-08-24 00:47] infosisio commented on #284
@Philip-Scott Line 259 in Services/Page.vala is causing this.

[2018-08-24 01:35] Philip-Scott commented on #287
Try updating the icon cache :)

Either with `update-icon-caches /usr/share/icons/*` or by installing another app that has an icon from apt.

[2018-08-24 01:35] #287 closed

[2018-08-24 01:37] Philip-Scott commented on #284
If you want to fix it, you can also fix it by setting the property of the header's title `use_markup` to `true` :) escaping the characters is needed to prevent other sorts of problems

[2018-08-24 01:38] infosisio commented on #284
@Philip-Scott Well, you are better suited to update it in the main repo so that all users can enjoy the fix :)

[2018-08-24 01:39] Philip-Scott commented on #286
Yeah, a lot of optimizations have occurred since the last release :) Specially on the backend for markdown on Juno.

I'll be closing this then, and any slowdowns on more "expensive" pages could be fixed with multi-threading, but it's something we should really avoid unless it's super necessary

[2018-08-24 01:39] #286 closed

[2018-08-24 01:40] Philip-Scott commented on #284
@infosisio if you want you can do it as well, and make a PR :)

[2018-08-24 01:41] infosisio commented on #284
@Philip-Scott Thanks for the spirit - Vala proficiency is not under my belt yet, hence my suggestion.

[2018-08-24 01:47] Philip-Scott commented on #284
If you want to learn, it's actually a super simple fix :) This issue is a super good one to be able to learn the basics on how things work!

This is the Headerbar class:
https://github.com/Philip-Scott/Notes-up/blob/master/src/Widgets/Headerbar.vala

And here's the class info for HeaderBars from Gtk:
https://valadoc.org/gtk+-3.0/Gtk.HeaderBar.html

try with the function `get_custom_title ()` in th

[2018-08-24 01:49] infosisio commented on #284
@Philip-Scott It's not that it seems hard or anything but I usually avoid touching FOSS projects if I am not proficient in the respective language.

[2018-08-24 01:49] Philip-Scott commented on #288
This was by design. Trash is cleared automatically when you exit the app :) This is to avoid more clutter with extra buttons and to have one less thing in mind since it's not really a "file manager"

[2018-08-24 01:49] #288 closed

[2018-08-24 01:51] Philip-Scott commented on #284
I don't really mind :) I love helping people get started. If you really don't want to do it no worries, but i still think that if you want to lean Vala, this is a really good issue to try to tackle

[2018-08-24 01:57] infosisio commented on #284
@Philip-Scott Yeah I really appreciate your intention ! Thanks for trying to help.

[2018-08-24 19:04] infosisio opened #290 "Can I buy you a coffee in Bitcoin ? :)"
I really hope so !

If so, send me your address.

[2018-08-24 19:39] infosisio opened #291 "Export to Markdown"
Is that a feature to be added ? It makes better sense to have than PDF but having both is ideal imo.

[2018-09-08 06:34] zervankoru opened #292 "Feature request: add possibility to easy attach file on pc's hdd"

[2018-09-09 07:40] zervankoru opened #293 "Bug: exporting as PDF creates empty .pdf files"

[2018-09-11 17:47] ChristopherNugent commented on #280
[code]
Terminal output from the crash

[2018-09-11 20:09] bobsobol commented on #211
Nice tip from ar0ra1, but there is a solution which works for any program, even if not as well written as Notes-up.

TachRage: the default location is `~/.local/share/notes-up/NotesUp.db`. So you can _always_ just:-
[code]
With the assumption that you have mounted your second drive / partition / filesystem volume (or possibly network drive / NAS / SAN / cloud storage etc.) at `/mnt/second_drive`.

[2018-09-11 21:17] yawner-dev commented on #293
Can confirm and it's a bit annoying. Since the preview works in app and I'm assuming it does a similar process to render the markdown it should only be a problem with the section that deals with the export.

[2018-09-14 00:50] ChristopherNugent opened #294 "Bug: application sometimes crashes when double clicking the name of the note to exit edit mode"
Terminal output
[code]
The application was installed from AppCenter

[2018-09-16 20:27] Philip-Scott commented on #293
@zervankoru  @yawner-dev  I'm guessing you guys don't use your computer in English. This is a problem with the translation that if you guys can help me out you would be able to fix it to everyone using your language :)

Check #1 for more info

[2018-09-16 20:27] #293 closed

[2018-09-16 20:29] Philip-Scott commented on #290
I don't use bitcoin, and sadly there's too many fees involved with it :) If you want to you can:
- buy the app on AppCenter (It will be released soon)
- use paypal
- Use that bitcoin to contribute to the Gtk or elementary OS devs instead :) They're also great and are what made all of this posible

[2018-09-16 20:29] #290 closed

[2018-09-16 22:12] ChristopherNugent commented on #294
Sadly, I haven't noticed any specific thing that triggers it. It tends to happen when I switch between modes by double clicking the note to change modes, especially multiple times in the same session. I haven't found that it destroys any changes, so its an inconvenience more than anything else.

If it is helpful for debugging, it does not save which note is currently being viewed, so it will re-op

[2018-09-18 12:29] Philip-Scott commented on #294
There's a new release coming soon to AppCenter, maybe I've already fixed it indirectly :) Let's wait for the new release and see if it's still reproducible

[2018-09-19 18:17] appcenter[bot] opened #295 "Appstream tests fail"
AppCenter ran a bunch of tests on your appstream file. These are the results.

## Warnings:
Most of these are fixed during the building process, but you should ensure they
are fixed in your code for future releases.
  - "id" field should be "com.github.philip-scott.notes-up"

### For more information, see:
- [The AppStream Quickstart Guide](https://www.freedesktop.org/software/appstream/docs/chap-

[2018-09-19 22:17] gughog opened #296 "Export to PDF returns a empty file"
Hi there! I'm in loving with your app, It's very useful, but the function to export to pdf does't work when I try. It generates a empty file, and I can't upload the file here because that. You know what's happening or how I fix that ?

Regards!

[2018-09-20 17:39] Philip-Scott commented on #296
Hey! I'm guessing you don't use your computer in English. This is a problem with the translation that if you can help me out you would be able to fix it to everyone using your language :)

Check #1 for more info on how to solve it for you and everyone else!

[2018-09-20 17:39] #296 closed

[2018-09-20 17:40] #295 closed

[2018-09-20 17:42] Philip-Scott commented on #280
What text do you guys use to make it crash? Mind sending a video? :) I still can't reproduce it :/

[2018-09-20 17:42] Philip-Scott commented on #294
Closing for now as it's a duplicate of #280

[2018-09-20 17:42] #294 closed

[2018-09-20 18:17] ChristopherNugent commented on #280
Not sure. I'll start logging console output to see if that reveals anything. Is there flag that enables a more verbose console output?

[2018-09-20 20:41] Philip-Scott commented on #280
There's a -d to show debug info, but i don't think it will be useful. But can also run it with `gdb` to get a stack trace of where exactly does it crash :)

[2018-09-20 22:34] gughog commented on #296
And how can I translate It ? Sorry, I'm kind a newbie here in Github and I'm still learning the features like push and pull requests, and with Linux. Can I edit the file directly in my PC or can I just translate for you to include in the next updates ? I'm using PT-BR language settings.

[2018-09-20 23:17] Philip-Scott commented on #296
@gughog It looks like it may be already fixed for just language, just maybe not yet available? Mind checking if the string in https://github.com/Philip-Scott/Notes-up/blob/master/po/pt_BR.po#L372 is correct?

[2018-09-22 03:54] andbuitra opened #297 "The app doesn't show up in elementary OS Juno"
Hello, Felipe.

I'm currently running Juno up-to-date but there's no app in the AppCenter even though you listed it on the releases page. Is this intentional? Thought I should let you know since I miss using your great app.

I did saw an AppCenter commit the other day so I assumed it was already published.

[2018-09-22 04:32] Philip-Scott commented on #297
Hi! Thanks for writing an issue :)  I tried to make it so the new version on Notes-Up was released on both Loki and Juno, but sadly something with the build failed.... I think I will be dropping Loki support and just build from master from now on.

Hopefully I'll get that sorted during the weekend :)

[2018-09-26 00:14] Philip-Scott commented on #297
And it's out! :)

[2018-09-26 00:14] #297 closed

[2018-09-26 00:16] Philip-Scott commented on #291
Closing in favor of #113 :)

[2018-09-26 00:16] #291 closed

[2018-09-26 00:17] Philip-Scott commented on #268
Closing in favor of #148 :)

[2018-09-26 00:17] #268 closed

[2018-09-26 11:16] SolarLiner commented on #252
Is it? All I can see is the beta 2...

[2018-09-26 11:34] davidak commented on #252
Here you still get Loki: https://elementary.io/

I also got the "No libmarkdown package found" error when trying to compile on NixOS, so i hoped to get any hint how to solve it here. Does it need newer dependencies that are present in Juno?

[2018-09-26 16:07] Philip-Scott commented on #252
Well the problem is that the code now depends on a library that's not available in Loki. You can always do a `git checkout 6323e2ec0726d42e4ff325ba57f0f2bf7a35ab23` to return to the last release before things broke

[2018-11-06 08:10] dgdav99 commented on #172
Has this feature already been implemented?

[2018-11-06 08:15] acolombier commented on #172
I did implement this feature on my fork, using Mathjax, but the PR had been rejected because of the heaviness of the JS library.

[2018-11-06 08:17] dgdav99 commented on #172
@acolombier Cool. I'll try that out

[2018-11-06 08:19] acolombier commented on #172
@dgdav99 let me know if you encounter any problems!

[2018-11-06 21:27] ghost opened #298 "Optional font size for PDF export"
On export of my PDFs, the font size is much larger than it needs to be  and if i were to print it I'd waste a significant amount of paper. I think adding an option in the preferences to choose the font size for a note you want to export would be a very useful feature.

[2018-11-07 18:47] ChristopherNugent opened #299 "Database should enforce referential integrity."
The database should enforce referential integrity using SQLite foreign keys. I don't think it's causing any issues at the moment, but its better design.

If there's no reason not to do this, I can make the fixes.

[2018-11-07 19:16] Philip-Scott commented on #299
The only reason why not to do it would be to avoid breaking backwards compatibility. I've avoided upgrading the database since the first time it's been released.  If you can do it without breaking anything though, then yeah sure :)

[2018-11-07 19:19] Philip-Scott commented on #223
Closing for #284

[2018-11-07 19:19] #223 closed

[2018-11-09 06:50] Nine-H opened #300 "elementary viewer theme has ugly border when you change the color."
Working on a solarised version of the elementary theme, for low contrast and readability, for some reason the elementary theme is the only one that pulls in this really ugly white border.

![screenshot from 2018-11-09 17 34 50](https://user-images.githubusercontent.com/20123543/48247019-d1e32200-e445-11e8-852b-9d5a0892db58.png)

Obviously users can hack around it by changing the margins to padding

[2018-11-10 21:27] emj04 opened #301 "Fails to start when using Paper icon theme on Fedora"
Notes-up fails to start when using the Paper icon theme on Fedora 29 (also 28). Changing to the default icon theme (Adwaita) fixes this. I initially thought it was just a missing icon in the Paper theme, but it appears the entire path is the problem since there is no /host directory in /run on my computer.

**Terminal output:**

[code]

[2018-11-13 04:31] ChristopherNugent commented on #299
I'll have some free time over Thanksgiving break.

[2018-11-14 16:05] Philip-Scott commented on #301
Seems to be a problem with the Theme and not with the app itself, right? I can't really do anything about it :grimacing:

[2018-11-14 16:05] #301 closed

[2018-11-14 16:17] Philip-Scott commented on #289
Fixed in b5e11fb8c71d8513bdb5732b9b326b199354bc28! :)

[2018-11-14 16:17] #289 closed

[2018-11-14 16:18] Philip-Scott commented on #220
Fixed in b5e11fb8c71d8513bdb5732b9b326b199354bc28! :)

[2018-11-14 16:18] #220 closed

[2018-11-14 16:19] #225 closed

[2018-11-14 16:21] Philip-Scott commented on #209
A good "workaround" is to keep the PDF viewer opened while editing and exporting. Marking as _out of scope_ for now.

[2018-11-14 16:21] #209 closed

[2018-11-14 16:27] Philip-Scott commented on #253
Fixed in be62a63

[2018-11-14 16:27] #253 closed

[2018-11-14 16:33] Philip-Scott commented on #284
fixed in 2679615

[2018-11-14 16:33] #284 closed

[2018-11-14 16:39] #172 closed

[2018-11-14 16:40] #70 closed

[2018-11-15 02:20] btd1337 commented on #139
Does this idea live?

[2018-11-15 10:31] RTbecard commented on #172
Since this is labeled "out of scope", should I expect that latex support is not being considered here?

I really implore you to add some sort of latex support to this, without it, you're excluding a large user base of students/academics who rely on latex for writing out equations..

PS, @acolombier very cool!  I be sure to give your fork a try!

[2018-11-15 14:36] Philip-Scott commented on #172
@RTbecard I'm not going to add it myself, and I'm also not going to add thousands of lines and files of JavaScript. Since at the end of the day markdown is just html you can always just add your own script tags. If someone else codes latex support in either C or Vala I'll add it. But you can see why im against it in the PR #254

[2018-12-04 15:16] Philip-Scott commented on #116
Closing, i've made it so they're insensitive now in the list :)

[2018-12-04 15:16] #116 closed

[2018-12-04 15:39] Philip-Scott commented on #218
Ok, i've made it so that the empty page is only created when the notebook is created. That way when you make a notebook you can go and type right away without having to click again for a new page.

Fixed in 05244d4

[2018-12-04 15:39] #218 closed

[2018-12-04 15:40] Philip-Scott commented on #151
You can now delete the empty pages that get created when you make a new notebook and they won't re-appear.

Fixed in 05244d4

[2018-12-04 15:40] #151 closed

[2018-12-10 10:12] YujiSaeki commented on #168
I had the same issue with ~/.local/share/notes-up/ not existing. Perhaps display a message asking users to either create the folder? I'd suggest having Notes-Up create the folder, but I recall Flatpak sandboxes everything to the point of frustration for many devs.